<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-comment" aria-hidden="true"></i> Yeni Etkinlik </span>
</div> 
<div class="login-panel">

  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">

    <div class="p-xl-4 p-lg-6 p-md-8 p-sm-10">


      <p-card>
        <p-header>
          Etkinlik Oluştur
        </p-header>
        <div class="p-col-12">

        </div>
        <div class="p-grid p-align-center">

          <div class="p-col-12">
            <h5 class="input-label">Ne yapmak istiyorsun?</h5>
            <span class="ui-float-label" style="margin-top:15px !important">
              <input id="float-input" type="text" size="100" pInputText [(ngModel)]="activity.header" class="w-100">
              <label for="float-input">Etkinliğine bir başlık ver</label>
            </span>
          </div>

          <div class="p-col-12">
            <h5 class="input-label">Biraz detaylandıralım</h5>
            <span class="ui-float-label" style="margin-top:15px !important">
                <textarea class="w-100" id="float-input" [rows]="10" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="activity.context"></textarea>
              <label for="float-input">Etkinliği daha detaylı şekilde açıklayalım</label>
            </span>
          </div>

          <div class="p-col-12">
            <h5 class="input-label">Tarih Seç</h5>
            <p-calendar [(ngModel)]="activity.date" onSelect="onSelect()" dateFormat="dd.mm.yy" showTime="true" hourFormat="24" showButtonBar="true" [locale]="tr"></p-calendar>
          </div>
          
          <div class="p-col-12">
            <h5 class="input-label">Etiketler</h5>
            <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="tags"></p-chips>
          </div>

          <div class="p-col-12">
            <p-checkbox [(ngModel)]="limitedParticipant" label="Katılımcı sınırlı mı?" binary="true"></p-checkbox>
          </div>


          <div class="p-col-12" *ngIf="limitedParticipant">
            <p-inputNumber [(ngModel)]="activity.participationCount" label="Katılımcı sayısı" [min]="0" [max]="1000"
              mode="decimal" [showButtons]="true"></p-inputNumber>
          </div>
        
          <img [hidden] = "imgHidden" class="img-thumbnail" [src]='imgSrc' >

          <p></p>
        <p-fileUpload name="photo" multiple="false" 
        invalidFileSizeMessageSummary="Dosya boyutu çok büyük"
        maxFileSize="3000000"
        uploadLabel="Yükle"
        chooseLabel="Seç"
        cancelIcon="Vazgeç"
        (onUpload)="onBasicUpload($event)" 
        invalidFileTypeMessageDetail="Geçersiz dosya tipi, lütfen resim yükleyin"
         accept="image/*" url="http://localhost:3000/activity/upload"></p-fileUpload>
         <p></p>
      </div>
      <p></p>
        <div class="p-grid">
          <div class="p-col-12">
            <button type="button" (click)="newActivity()" class="btn btn-success w-100 "><i class="fa fa-paper-plane-o"
                aria-hidden="true"> </i> Kaydet ve onaya gönder </button>
          </div>
        </div>

      </p-card>

    </div>
  </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>