<!-- <div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-comment" aria-hidden="true"></i> Yeni Etkinlik </span>
</div>  -->
<div class="flex p-justify-center p-align-center page-container">
  <div class="p-col-12 p-xl-5 p-lg-7 p-md-10 p-sm-12 mt-15 page-content">
    <div class="theme-card">
      <div>
        <h5 class="input-label mb-10">Ne yapmak istiyorsun?</h5>
        <span class="ui-float-label">
          <input id="float-input" type="text" size="100" pInputText [(ngModel)]="activity.header" class="w-100">
          <label for="float-input">Etkinliğine bir başlık ver</label>
        </span>
      </div>
      <div>
        <h5 class="input-label mb-10">Biraz detaylandıralım</h5>
        <span class="ui-float-label">
            <textarea class="w-100" id="float-input" [rows]="10" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="activity.context"></textarea>
          <label for="float-input">Etkinliği daha detaylı şekilde açıklayalım</label>
        </span>
      </div>
      <div>
        <h5 class="input-label">Tarih Seç</h5>
        <p-calendar [(ngModel)]="activity.date" onSelect="onSelect()" dateFormat="dd.mm.yy" showTime="true" hourFormat="24" showButtonBar="true" [locale]="tr" [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <div>
        <h5 class="input-label">Etiketler (Enter ile ekleyin)</h5>
        <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="tags" separator=","></p-chips>
      </div>
      <div>
        <p-checkbox [(ngModel)]="limitedParticipant" label="Katılımcı sınırlı mı?" binary="true"></p-checkbox>
      </div>
      <div *ngIf="limitedParticipant">
        <p-inputNumber [(ngModel)]="activity.participationLimit" label="Katılımcı sayısı" [min]="0" [max]="1000"
          mode="decimal" [showButtons]="true"></p-inputNumber>
      </div>
      <p-fileUpload name="photo" multiple="false" 
        [auto]="true"
        invalidFileSizeMessageSummary="Dosya boyutu çok büyük"
        invalidFileSizeMessageDetail="Maksimum dosya boyutu 3 MB"
        maxFileSize="3145728"
        uploadLabel="Yükle"
        chooseLabel="Aktiviteye Resim Yükle"
        cancelIcon="Vazgeç"
        (onUpload)="onBasicUpload($event)" 
        invalidFileTypeMessageDetail="Geçersiz dosya tipi, lütfen resim yükleyin"
        accept="image/*" [url]='uploadUrl'>
      </p-fileUpload>
      <img *ngIf="imgSrc" class="act-photo" [src]='imgSrc'>
      <button type="button" (click)="newActivity()" class="primary-button" style="height: 50px;">Paylaş</button>
    </div>
  </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>