<div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-pass" aria-hidden="true"></i> Şifremi unuttum </span>
  </div>  
  <div class="login-panel">
  
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
      <div [hidden]="newPassword" class="p-xl-4 p-lg-6 p-md-8 p-sm-10">
  
  
        <p-card>
          <p-header>
            Şifremi unuttum
          </p-header>
          <div class="p-col-12">
  
          </div>
          <div class="p-grid p-align-center">
  
            <div class="p-field">
                <label for="username">Kullanıcı adı veya parola</label>
                <br>
                <input id="username" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="username" />
                <br>
                <small id="username-help">Kayıtlı mail adresinize link gönderilecektir.</small>
            </div>
  
  
          </div>
          <div class="p-grid">
            <div class="p-col-12">
                <button type="button" (click)="resetPasswordRequest()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
                 aria-hidden="true"> </i> Gönder </button>
             </div> 
          </div>
  
        </p-card>
  
      </div>

      
      <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
        <div [hidden]="newPassword" class="p-xl-4 p-lg-6 p-md-12 p-sm-12">
    
    
          <p-card>
            <p-header>
             Yeni şifre
            </p-header>
            <div class="p-col-12">
    
            </div>
            <div class="p-grid p-align-center">
  
              <div class="p-field">
                  <label for="new-pass">Yeni şifre</label>
                  <br>
                  <input id="new-pass" type="password" aria-describedby="username1-help" pInputText [(ngModel)]="password" />
                
              </div>
    
    
            </div>
            <div class="p-grid">
              <div class="p-col-12">
                  <button type="button" (click)="savePassword()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
                   aria-hidden="true"> </i> Gönder </button>
               </div> 
            </div>
           
    
          </p-card>
    
        </div>


    </div>
  </div>
  
  <p-toast position="top-center" key="tc"></p-toast>