<!-- <div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-pass" aria-hidden="true"></i> Şifremi unuttum </span>
</div>   -->

<div class="login-panel">
  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-5 p-md-8 p-sm-10 p-xs-12">
      <div [hidden]="newPassword">
        <div class="login-card">
          <div class="p-col flex p-justify-center">
            <img src="assets/activity-friend-logo-alt.png" class="login-logo">
          </div>
          <div  class="w-100 mb-2">
            <input id="username" type="username" aria-describedby="username1-help" class="primary-input" pInputText [(ngModel)]="username" placeholder="Kullanıcı adı veya email"/>
          </div>
          <button type="button" (click)="resetPasswordRequest()" class="btn primary-button w-100 mb-2" style="height: 50px; border-radius: 0.5em;">Gönder</button>
          <a (click)="routeLogin()" class="text-center w-100 mb-2">Giriş yap</a>
          <div class="p-grid text-center">
            <div class="w-100"><b>Bize Ulaşın</b></div>
            <div class="w-100"><a><i class="fa fa-envelope-o" aria-hidden="true"></i> info@activityfriend.com.tr</a></div>
            <div class="w-100"><i class="fa fa-instagram" aria-hidden="true"></i><a target="_blank" href="https://www.instagram.com/activityfriend"> activityfriend</a> </div>
          </div>
        </div>
      </div>
      <div>
        <p-card [hidden]="!newPassword">
          <p-header>
            Yeni parola
          </p-header>
          <div class="p-grid p-align-center">  
            <div class="p-field w-100">
              <label for="new-pass">Yeni şifre</label>
              <br>
              <input id="new-pass" type="password" aria-describedby="username1-help"   class="w-100"  pInputText [(ngModel)]="password" />  
            </div>
            <div class="p-field w-100">
              <label for="new-pass">Yeni şifre tekrar</label>
              <br>
              <input id="new-pass" type="password" aria-describedby="username1-help"   class="w-100"  pInputText [(ngModel)]="passwordRepeat" />
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12">
              <button type="button" (click)="savePassword()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
                aria-hidden="true"> </i> Kaydet </button>
              </div> 
          </div>
          <a (click)="routeLogin()">Giriş yap</a> 
          <div class="p-grid text-center">
            <div class="w-100"><b>Bize Ulaşın</b></div>
            <div class="w-100"><a><i class="fa fa-envelope-o" aria-hidden="true"></i> info@activityfriend.com.tr</a></div>
            <div class="w-100"><i class="fa fa-instagram" aria-hidden="true"></i><a target="_blank" href="https://www.instagram.com/activityfriend"> activityfriend</a> </div>
          </div>
        </p-card>
      </div>
    </div>
  </div> 
</div>
  
  <p-toast position="top-center" key="tc"></p-toast>