<div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-pass" aria-hidden="true"></i> Şifremi unuttum </span>
  </div>  
  <div class="login-panel">
  
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
      <div class="p-xl-4 p-lg-6 p-md-12 p-sm-12">
  
        <div [hidden]="newPassword">
        <p-card>
          <p-header>
            Şifremi unuttum
          </p-header>
          <div class="p-col-12">
  
          </div>
          <div class="p-grid p-align-center">
  
            <div  class="p-field w-100">
                <label for="username">Kullanıcı adı veya parola</label>
                <br>
                <input id="username" type="username" aria-describedby="username1-help" class="w-100" pInputText [(ngModel)]="username" />
                <br>
               <small id="username-help"><b> Kayıtlı mail adresinize link gönderilecektir.</b> </small>
            </div>
  
  
          </div>
          <div class="p-grid">
            <div class="p-col-12">
                <button type="button" (click)="resetPasswordRequest()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
                 aria-hidden="true"> </i> Gönder </button>
             </div> 
          </div>
          <div class="p-grid" >
           
            <div class="p-col-12 text-center">
              <hr>
              <a (click)="routeLogin()" class="giris-yap" >Giriş yap »</a> 
              <hr>
              </div>
          </div>
  
          <div class="p-grid text-center">
            <p  class=" p-col-12 text-center"><b>Yardım & Destek için:</b></p>
            <div class="p-col-12" ><a><i class="fa fa-envelope-o" aria-hidden="true"></i> info@activityfriend.com.tr</a></div>
            <div class="p-col-12"  ><a target="_blank" href="https://www.instagram.com/activityfriend"><i class="fa fa-instagram" aria-hidden="true"></i>activityfriend</a> </div>
           <hr>
          </div>
        </p-card>
      </div>
    <div>
        <p-card [hidden]="!newPassword">
          <p-header>
           Yeni parola
          </p-header>
          <div class="p-col-12">
  
          </div>
          <div class="p-grid p-align-center">
  
       
            <div class="p-field w-100">
              <label for="new-pass">Yeni şifre</label>
              <br>
              <input id="new-pass" type="password" aria-describedby="username1-help"   class="w-100"  pInputText [(ngModel)]="password" />
            
          </div>

          <div class="p-field w-100">
            <label for="new-pass">Yeni şifre tekrar</label>
            <br>
            <input id="new-pass" type="password" aria-describedby="username1-help"   class="w-100"  pInputText [(ngModel)]="passwordRepeat" />
          
        </div>
  
  
          </div>
          <div class="p-grid">
            <div class="p-col-12">
              <button type="button" (click)="savePassword()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
                aria-hidden="true"> </i> Kaydet </button>
             </div> 
          </div>
                 <div class="p-col-12 text-center">
                  <hr>
                  <a (click)="routeLogin()"  class="giris-yap" >Giriş yap »</a> 
                  <hr>
              </div>
  
              <hr>
              <div class="p-grid text-center">
                <p  class=" p-col-12 text-center"><b>Yardım & Destek için:</b></p>
                <div class="p-col-12" ><a><i class="fa fa-envelope-o" aria-hidden="true"></i> info@activityfriend.com.tr</a></div>
                <div class="p-col-12"  ><a target="_blank" href="https://www.instagram.com/activityfriend"><i class="fa fa-instagram" aria-hidden="true"></i>activityfriend</a> </div>
               <hr>
              </div>
        </p-card>
      </div>
      </div>

    </div> 
  </div>
  
  <p-toast position="top-center" key="tc"></p-toast>