<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-comment" aria-hidden="true"></i> Iletişim </span>
</div>  
<div class="login-panel">

  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">

    <div class="p-xl-4 p-lg-6 p-md-12 p-sm-12">


      <p-card>
        <p-header>
          İletişim
        </p-header>
        <div class="p-col-12">

        </div>
        <div class="p-grid p-align-center">

          <div class="p-col-12">
              <span class="ui-float-label" style="margin-top:15px !important">
                <input id="float-input" type="text" size="100" pInputText [(ngModel)]="firstname" class="w-100">
                <label for="float-input">Ad</label>
              </span>
            </div>

            <div class="p-col-12">
           
              <span class="ui-float-label" style="margin-top:15px !important">
                <input id="float-input" type="text" size="100" pInputText [(ngModel)]="lastname" class="w-100">
                <label for="float-input">Soyad</label>
              </span>
            </div>

            <div class="p-col-12">
           
              <span class="ui-float-label" style="margin-top:15px !important">
                <input id="float-input" type="text" size="100" pInputText [(ngModel)]="eMail" class="w-100">
                <label for="float-input">Email</label>
              </span>
            </div>

            <div class="p-col-12">
           
              <span class="ui-float-label" style="margin-top:15px !important">
                <input id="float-input" type="text" size="100" pInputText [(ngModel)]="phone" class="w-100">
                <label for="float-input">Telefon</label>
              </span>
            </div>

            <div class="p-col-12">
              <span class="ui-float-label" style="margin-top:15px !important">
                  <textarea class="w-100" id="float-input" [rows]="10" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="comment"></textarea>
                <label for="float-input">Mesajını buraya yaz</label>
              </span>
            </div>

            <div class="p-col-12">
              <p-captcha siteKey="6Ld__9YZAAAAADEA2ogF-YXV1i99L76G6wapl83b" (onResponse)="showResponse($event)"></p-captcha>
            </div>
      
         



        </div>
        <div class="p-grid">
          <div class="p-col-12">
              <button type="button" (click)="createInfo()" class="btn btn-info w-100 "><i class="fa fa-paper-plane-o"
               aria-hidden="true"> </i> Gönder </button>
           </div> 
        </div>

      </p-card>

    </div>
  </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>