/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    background-image: url("/assets/bg.png");
    padding: 0 !important;
    margin: 0 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.w-100{
    width: 100% !important;
}
.font-size-1-5em{
    font-size: 1.5em !important;
}
.h-10{
    height:10px;
}
.h-300{
    height: 300px !important;
}
.h-100{
    height: 100px !important;
}
.h-5{
    height:5px;
}
.route-nav{
    width: 100%;
    margin: auto;
    border: 3px solid #73AD21;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    font-family: monospace;
}
body .ui-menubar {
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #c8c8c8;
    height: 100px; 
    position: relative;
}

.ui-menubar .ui-menubar-root-list {
    position: absolute;
  //  top: 16%;
    font-size: 1.3em;
    height: 100%;
    background-color: green($color: #000000);
}
body .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
    padding: 1.714em 0.857em;
    height: 100%;
}
.ui-menubar .ui-menubar-root-list>.ui-menuitem {
    display: inline-block;
    position: relative;
    height: 100%;
}
.ui-menubar .ui-menubar-root-list>.ui-menuitem:hover {
    height: 100%;
}
.cursor-pointer{
    cursor: pointer;
}
.ui-card-body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.ui-card-header{
    padding-top: 10px;
    color: mediumpurple;
    padding-bottom: 10px;
    font-size: 1.5em;
    width: 100% !important;
    font-weight: bold;
    text-align: center !important;
    border-bottom: 1px solid #ccc !important;
}
.text-align-center{
    text-align: center;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-50{
    margin-top: 50px !important;
}

.full-area{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
  }
  .sub-info-text{
    font-size: 12px;
    color: gray;
  }
  .text-danger{
      color:red !important
  }

  :host ::ng-deep .tabHeader-custom {
    background-color: red;
}
