.act-photo-in-row{
    width: 100px;
    height: 100px;
}

.header-photo{
    object-fit: cover;
    width: 80px !important;
    height: 80px !important;
 }

 :host::ng-deep .ui-tabview-panels{
    border-radius: 1em;
    border-top-left-radius: 0;
    padding: 2em !important;
}

:host::ng-deep .ui-tabview-nav .ui-state-default a{
    background-image: var(--theme-grad-gray) !important;
    border-color: var(--theme-color-gray);
}

:host::ng-deep .ui-tabview-nav .ui-state-active a{
    background-image: var(--theme-color) !important;
    border-color: var(--theme-color-primary);
}