
<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
    <div class="p-xl-8 p-lg-8 p-md-8 p-sm-10">
     
     
      <p-card>

<!--tab viewvvwwwwwwwwwwwwwwwww-->

<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="Bekleyen Kullanıcılar" [selected]="true" rightIcon="pi pi-pause">
      <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Kullanıcı</th>
              <th scope="col">Biyografi</th>
              <th scope="col">Telefon</th>
              <th scope="col">Email</th>
              <th scope="col">Onay Durumu</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of pendingUsers;let i = index"  >
              <th scope="row">{{i+1}}</th>
              <td  (click)="routeProfile(user._id)" >
                <p>{{user.username}} </p>
                <p>{{user.name}} / {{user.gender}}</p>biography
                <p>{{ user.birthDate | date:'dd/MM/yyyy'}} </p>
              </td>
              <td>{{user.biography}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td> 
              <td > 
                <button type="button" (click)="userApprove(user)"  class="btn btn-success "> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
                </button>
                <button type="button" (click)="userReject(user)"  class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"> </i> Reddet
                </button>
              </td>
            </tr>
           
          </tbody>
        </table>
      
  </p-tabPanel>

  <p-tabPanel header="Bekleyen Aktiviteler" rightIcon="pi pi-times">
    <table class="table table-striped table-responsiv">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Aktivite Adı</th>
          <th scope="col">Onay Durumu</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let act of pendingActivity;let i = index" >
            <th scope="row">{{i+1}}</th>
          <td>
            <p class="text-danger" >{{act.isUpdate ? 'GÜNCELLEME' : 'YENİ ETKİNLİK'}}</p>
            <p><b>Etkinlik sahibi:</b> {{act.user.name}} ( @{{act.user.username}} ) </p>
            <p><b>Etkinlik adı:</b> {{act.header}} </p>
            <br>
            <p><b>Etkinlik içerik:</b> {{act.context}} </p>
            <br>
            <img  class="act-photo-in-row img-thumbnail" [src]="createActPhotoLink(act.fileLink)"> 
          
          </td>
          <td  > 
            <button type="button" (click)="activityApprove(act)"  class="btn btn-success "> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
            </button>
            <button type="button" (click)="activityReject(act)"  class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"> </i> Reddet
            </button>
          </td>
        </tr>
       
      </tbody>
    </table>
  </p-tabPanel>

  <p-tabPanel header="Reddedilen kullanıcılar" rightIcon="pi pi-times">
    <table class="table table-striped table-responsiv">
      <thead>
      
      </thead>
      <tbody>
       

      </tbody>
    </table>
  </p-tabPanel>

  <p-tabPanel header="Tüm kullanıcılar" rightIcon="pi pi-times">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th></th>
          <th scope="col">Kullanıcı</th>
          <th scope="col">Biyografi</th>
          <th scope="col">Telefon</th>
          <th scope="col">Email</th>
          <th scope="col">Onay Durumu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers;let i = index" >
          <th scope="row">{{i+1}}</th>
          <td colspan="2">  <img (click)="routeProfile(user._id)" class="header-photo img-thumbnail" [src]="photoUserLinkCreate(user.fileLink)" > 
          </td>
          <td  (click)="routeProfile(user._id)" >
            <p>{{user.username}} </p>
            <p>{{user.name}} / {{user.gender}}</p>
            <p>{{ user.birthDate | date:'dd/MM/yyyy'}}</p>
          </td>
          <td>{{user.biography}}</td>
          <td>{{user.phone}}</td>
          <td (click)="routeProfile(user._id)">{{user.email}} </td> 
          <td > 
            <button type="button" (click)="userReject(user)"  class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"> </i> Sil
            </button>
          </td>
        </tr>
       
      </tbody>
    </table>
  </p-tabPanel>


  <p-tabPanel header="Mail Onayı Bekleyen Kullanıcılar"  rightIcon="pi pi-pause">
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Biyografi</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Onay Durumu</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of pendingMailApproveUsers;let i = index"  >
            <th scope="row">{{i+1}}</th>
            <td  (click)="routeProfile(user._id)" >
              <p>{{user.username}} </p>
              <p>{{user.name}} / {{user.gender}}</p>biography
              <p>{{ user.birthDate | date:'dd/MM/yyyy'}} </p>
            </td>
            <td>{{user.biography}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td> 
            <td > 
              <button type="button" (click)="userApprove(user)"  class="btn btn-success "> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
              </button>
              <button type="button" (click)="userReject(user)"  class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"> </i> Reddet
              </button>
            </td>
          </tr>
         
        </tbody>
      </table>
    
</p-tabPanel>
 
</p-tabView>

<p-tabPanel header="Reddedilen Aktiviteler" rightIcon="pi pi-times">
  <table class="table table-striped">
    <thead>
    
    </thead>
    <tbody>
     

    </tbody>
  </table>
</p-tabPanel>


<!--tab viewwwwwwwwwwwwwwwwwww-->


</p-card>
    </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
