<p>admin-users works!</p>
<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
    <div class="p-xl-8 p-lg-8 p-md-8 p-sm-10">
     
     
      <p-card>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kullanıcı</th>
        <th scope="col">Email</th>
        <th scope="col">Onay Durumu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">1</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td *ngIf ="user.status==1"> 
          <button type="button" (click)="userApprove()"  class="btn btn-success "> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
          </button>
          <button type="button" (click)="userReject()"  class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"> </i> Reddet
          </button>
        </td>
      </tr>
     
    </tbody>
  </table>

</p-card>
    </div>
</div>