<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Onay Bekleyenler" [selected]="true" rightIcon="pi pi-pause">
        <table class="table table-striped">
            <thead>
            
            </thead>
            <tbody>
              <tr *ngFor="let actUser of waitingUsers">
                <td>
                   <img class="management-user-photo img-thumbnail"  [src]="photoLinkCreate(actUser.user.fileLink)" alt="Image Source" width="100px" height="100px" >
                <br>
                <br>
                <span  (click)="routeProfile(actUser.user._id)"> <b>{{actUser.user.name}}</b> ( {{actUser.user.email}} )<br> @{{actUser.user.username}} </span>
                </td>
      
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="userStateAction(actUser.activityId , actUser.user._id,2)" type="button" class="btn btn-success">Onayla <i class="pi pi-play"></i></button>
                        <button (click)="userStateAction(actUser.activityId , actUser.user._id,3)" type="button" class="btn btn-danger">Reddet <i class="pi pi-times"></i> </button>
                      </div>
                </td>
              </tr>

            </tbody>
          </table>
        
    </p-tabPanel>
    <p-tabPanel header="Onaylananlar" rightIcon="pi pi-play" >

        <table class="table table-striped">
            <thead>
             
            </thead>
            <tbody>
              <tr *ngFor="let actUser of approveUsers">
                <td>
                  <img class="management-user-photo img-thumbnail"  [src]="photoLinkCreate(actUser.user.fileLink)" alt="Image Source" width="100px" height="100px" >
               <br>
               <br>
               <span  (click)="routeProfile(actUser.user._id)"> <b>{{actUser.user.name}}</b> ( {{actUser.user.email}} )<br> @{{actUser.user.username}} </span>
               </td>
                <td>
                  <div class="btn-group" role="group" aria-label="...">
                      <button (click)="userStateAction(actUser.activityId , actUser.user._id,3)" type="button" class="btn btn-danger">Reddet <i class="pi pi-times"></i> </button>
                    </div>
                </td>
              </tr>

            </tbody>
          </table>
        

    </p-tabPanel>
    <p-tabPanel header="Reddedilenler" rightIcon="pi pi-times">
      <table class="table table-striped">
        <thead>
        
        </thead>
        <tbody>
          <tr *ngFor="let actUser of rejectedUsers">
            <td>
              <img class="management-user-photo img-thumbnail"  [src]="photoLinkCreate(actUser.user.fileLink)" alt="Image Source" width="100px" height="100px" >
           <br>
           <br>
           <span  (click)="routeProfile(actUser.user._id)"> <b>{{actUser.user.name}}</b> ( {{actUser.user.email}} )<br> @{{actUser.user.username}} </span>
           </td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                  <button (click)="userStateAction(actUser.activityId , actUser.user._id,2)" type="button" class="btn btn-success">Onayla <i class="pi pi-play"></i></button>
                </div>
          </td>
          </tr>

        </tbody>
      </table>
    </p-tabPanel>

    <p-tabPanel header="Etkinliği düzenle " rightIcon="pi pi-times">
      <table class="table table-striped">
        <thead>
          <div class="login-panel">

            <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
          
              <div class="p-xl-4 p-lg-6 p-md-8 p-sm-10">
          
          
                <p-card>
                  <p-header>
                    Düzenle
                  </p-header>
                  <div class="p-col-12">
          
                  </div>
                  <div class="p-grid p-align-center">
          
                    <div class="p-col-12">
                      <h5 class="input-label">Ne yapmak istiyorsun?</h5>
                      <span class="ui-float-label" style="margin-top:15px !important">
                        <input id="float-input" type="text" size="100" pInputText [(ngModel)]="activity.header" class="w-100">
                        <label for="float-input">Etkinliğine bir başlık ver</label>
                      </span>
                    </div>
          
                    <div class="p-col-12">
                      <h5 class="input-label">Biraz detaylandıralım</h5>
                      <span class="ui-float-label" style="margin-top:15px !important">
                          <textarea class="w-100" id="float-input" [rows]="10" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="activity.context"></textarea>
                        <label for="float-input">Etkinliği daha detaylı şekilde açıklayalım</label>
                      </span>
                    </div>
          
                    <div class="p-col-12">
                      <h5 class="input-label">Tarih Seç</h5>
                      <p-calendar [(ngModel)]="activity.date" onSelect="onSelect()" dateFormat="dd.mm.yy" showTime="true" hourFormat="24" showButtonBar="true" [locale]="tr"></p-calendar>
                    </div>

                    
                    <div class="p-col-12">
                      <h5 class="input-label">Etiketler</h5>
                      <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="activity.tagList"></p-chips>
                    </div>
          
                    <div class="p-col-12">
                      <p-checkbox [(ngModel)]="limitedParticipant" label="Katılımcı sınırlı mı?" binary="true"></p-checkbox>
                    </div>
          
          
                    <div class="p-col-12" *ngIf="limitedParticipant">
                      <p-inputNumber [(ngModel)]="activity.participationCount" label="Katılımcı sayısı" [min]="0" [max]="1000"
                        mode="decimal" [showButtons]="true"></p-inputNumber>
                    </div>
          
                    <img class="img-thumbnail" [src]='imgSrc' >

                    <p></p>
                    
                  <p-fileUpload name="photo" multiple="false" 
                  [auto]="true"
                  invalidFileSizeMessageSummary="Dosya boyutu çok büyük"
                  invalidFileSizeMessageDetail="Maksimum dosya boyutu 3 MB"
                  maxFileSize="3145728"
                  uploadLabel="Yükle"
                  chooseLabel="Aktiviteye Resim Yükle"
                  cancelIcon="Vazgeç"
                  (onUpload)="onBasicUpload($event)" 
                  invalidFileTypeMessageDetail="Geçersiz dosya tipi, lütfen resim yükleyin"
                   accept="image/*" [url]='uploadUrl'></p-fileUpload>
          
                  </div>
                  <div class="p-grid">
                    <div class="p-col-12">
                      <button type="button" (click)="updateActivity()" class="btn btn-success w-100 " [disabled]="edited"><i class="fa fa-paper-plane-o"
                          aria-hidden="true"> </i> Kaydet ve onaya gönder </button>
                    </div>
                    <br>
                    <div class="p-col-12">
                      <button type="button" (click)="deleteActivity()" class="btn btn-danger w-100 "><i class="fa fa-ban"
                          aria-hidden="true"> </i> Sil </button>
                    </div>
                  </div>
          
                </p-card>
          
              </div>
            </div>
          </div>
        </thead>
        <tbody>
          <tr *ngFor="let actUser of rejectedUsers">
            <th>{{actUser.username}} ( {{actUser.user.email}} )</th>
           
          </tr>

        </tbody>
      </table>
    </p-tabPanel>
</p-tabView>

<p-toast position="top-center" key="tc"></p-toast>