<p-tabView (onChange)="handleChange($event)">
    <p-tabPanel header="Onay Bekleyenler" [selected]="true" rightIcon="pi pi-pause">
        <table class="table table-striped">
            <thead>
            
            </thead>
            <tbody>
              <tr *ngFor="let actUser of waitingUsers">
                <th>{{actUser.username}} ( {{actUser.user.email}} )</th>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button (click)="userStateAction(actUser.activityId , actUser.user._id,2)" type="button" class="btn btn-success">Onayla <i class="pi pi-play"></i></button>
                        <button (click)="userStateAction(actUser.activityId , actUser.user._id,3)" type="button" class="btn btn-danger">Reddet <i class="pi pi-times"></i> </button>
                      </div>
                </td>
              </tr>

            </tbody>
          </table>
        
    </p-tabPanel>
    <p-tabPanel header="Onaylananlar" rightIcon="pi pi-play" >

        <table class="table table-striped">
            <thead>
             
            </thead>
            <tbody>
              <tr *ngFor="let actUser of approveUsers">
                <th> <img class="header-photo" [src]="actUser.imagePath" alt="Image Source" width="100px" height="150px" ></th>
                <th>{{actUser.username}} ( {{actUser.user.email}} )</th>
               
              </tr>

            </tbody>
          </table>
        

    </p-tabPanel>
    <p-tabPanel header="Reddedilenler" rightIcon="pi pi-times">
      <table class="table table-striped">
        <thead>
        
        </thead>
        <tbody>
          <tr *ngFor="let actUser of rejectedUsers">
            <th>{{actUser.username}} ( {{actUser.user.email}} )</th>
           
          </tr>

        </tbody>
      </table>
    </p-tabPanel>
</p-tabView>

<p-toast position="top-center" key="tc"></p-toast>