.notification-row{
    border-bottom: 1px solid #ccc;
    padding: 10px 2px;
    word-break: break-all;
}
.notification-text{
    color: blueviolet;
    font-weight: bolder;
    word-break: break-all;
}
.notification-box{
    width: 100%;
}
.bg-green{
    background-color: #cffa8d;
}
.left-photo{
    object-fit: cover;
    height: 65px;
    width: 65px;
}