.language-menu {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.login-button{
    background: rgb(71,161,25) !important; 
    background: linear-gradient(90deg, rgba(71,161,25,1) 0%, rgba(29,189,50,0.9920343137254902) 41%, rgba(89,207,23,1) 100%) !important;
}
.p-10{
    padding: 10px;
}
.ui-button + .ui-button-text {
    display: none !important;
}
.color-btn-1{
    background: #3498db;
}
.panel-color-1{
    background: #8bf0ba;
}
.random-users-pic-div{
    display: inline;
    margin-right: 2px;
    

}
.random-users-pic-img{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.img-thumbnail-custom {
padding: .1rem;
background-color: #fff;
border: 2px solid #cd486b;
max-width: 100%;
}