<div class="login-panel">
  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-5 p-md-8 p-sm-10 p-xs-12">
      <div [hidden]="!isApproveOk">
        <div class="alert alert-success" role="alert">
          <h3> <i class="fa fa-check" aria-hidden="true"> </i> Mailiniz başarılı şekilde onaylanmıştır. <br><br>Profil onayınızın ardından mail ile bilgilendirileceksiniz.</h3>
        </div>
      </div>
      <div [hidden]="isApproveOk" class="login-card">
        <div class="p-grid p-align-center">
          <div class="p-col flex p-justify-center">
            <img src="assets/activity-friend-logo-alt.png" class="login-logo">
          </div>
          <!-- <div class="p-col-12" style="max-height: 68px;overflow-y: hidden;  text-align: center;">
            <div  class="random-users-pic-div" *ngFor="let randomUser of randomUsers">
              <img class="random-users-pic-img img-thumbnail-custom" [src]="photoLinkCreate(randomUser.fileLink)" alt="bekirbedir"  > 
            </div>
          </div> -->
          <div class="p-col-12">
              <input id="input-username" type="text" size="30" class="primary-input" pInputText [(ngModel)]="userName"placeholder="Kullanıcı adı veya email">
          </div>
          <div class="p-col-12">
              <input id="input-password" type="password" size="30" class="primary-input" pInputText [(ngModel)]="password"placeholder="Parola">
          </div>
        </div>
        <button pButton label="Giriş" class="btn primary-button w-100" (click)="onClickLogin()" style="height: 50px; border-radius: 0.7em; font-weight: 800;"></button>
        <div class="p-col-12 text-center flex flex-col">
          <a (click)="routeResetPassword()" class="sifre-unuttum-text">Şifrenizi mi unuttunuz? </a>
          <span>Hesabınız yok mu?<a class="kayit-ol-text" (click)="routeSignup()"> Buradan</a> yeni bir hesap oluşturun.</span>
        </div>
        <div class="text-center">
          <div class="w-100"><b>Bize Ulaşın</b></div>
          <div class="w-100"><a><i class="fa fa-envelope-o" aria-hidden="true"></i> info@activityfriend.com.tr</a></div>
          <div class="w-100"><i class="fa fa-instagram" aria-hidden="true"></i><a target="_blank" href="https://www.instagram.com/activityfriend"> activityfriend</a> </div>
        </div>
      </div>    
    </div>
  </div>
</div>

  <p-toast position="top-center" key="tc"></p-toast>
