

<div class="login-panel">

    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
      <div class="p-xl-4 p-lg-6 p-md-8 p-sm-10">
  
        <div [hidden]="!isApproveOk">
          
          <div class="alert alert-success" role="alert">
            <h3> <i class="fa fa-check" aria-hidden="true"> </i> Mailiniz başarılı şekilde onaylanmıştır. <br><br>Profil onayınızın ardından mail ile bilgilendirileceksiniz.</h3>
          </div>
        </div>

        <p-card [hidden]="isApproveOk">
          <div class="p-col-12">

          </div>
          <div class="p-grid p-align-center">
            <div class="p-col">
              <img src="assets/logo22.svg" class="login-logo">
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="input-username" type="text" size="30" class="p-col " pInputText [(ngModel)]="userName"
                  placeholder="Kullanıcı adı veya email">
              </div>
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input id="input-password" type="password" size="30" class="p-col" pInputText [(ngModel)]="password"
                  placeholder="Parola">
              </div>
            </div>
            
          </div>
          <div class="p-grid" >
           
           
 <div class="p-col-12">
              <button pButton type="button" label="Giriş Yap »" class="ui-button-raised  p-col-12 login-btn"
                (click)="onClickLogin()"></button>
              </div>
          </div>
          <div class="p-col-12 text-center">
            <hr>
            <a class="sifre-unuttum-text" >Şifremi unuttum? &nbsp;&nbsp;&nbsp;</a> | <a class="kayit-ol-text" (click)="routeSignup()"> &nbsp;&nbsp;&nbsp; Hemen kayıt ol »</a>
            <hr>
          </div>
        </p-card>
        
      </div>
    </div>
  </div>

  <p-toast position="top-center" key="tc"></p-toast>
