<div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-user" aria-hidden="true"></i> Profil </span>
  </div>   
  
<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-5 p-lg-5 p-md-5 p-sm-5 info">
        <div>
            <h2>Biz Kimiz?</h2>
        </div>
        <br>
        <div style="margin-bottom: 40px;">dsdfds</div>

        <div style="margin-left: auto; margin-right: auto;" class="hover"> 
            <img src="https://i.hizliresim.com/cCzgfW.png" alt="Bekir BEDİR" />
            <img src="https://i.hizliresim.com/pcqkda.png" alt="Burak YASSIBAŞ"/>
            <img src="https://i.hizliresim.com/H2HuTt.png" alt="Duman"/>
            <img src="https://i.hizliresim.com/htFc95.png" alt=" "/>
            <img src="https://i.hizliresim.com/KDGDZo.png" alt="Öznur KÜTÜKÇÜ"/>
        </div>

</div>
</div>
