<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> 
</div>  


<div class="h-10"></div>
<div   class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
      <div class="p-grid">
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
          <button type="button" (click)="filter()" class="btn btn-info w-100 font-size-1-5em"><i class="fa fa-filter" aria-hidden="true"> </i> Filtrele</button>
        </div>
      
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
          <button type="button" (click)="newActivity()"  class="btn btn-success w-100 font-size-1-5em"> <i class="fa fa-plus-circle" aria-hidden="true"> </i> Etkinlik Oluştur</button>
        </div>	
      </div>

</div>
</div>



<div  *ngFor="let act of activities" class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%; margin-top:10px">
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-12 p-sm-12">
    <p-card>
    
        <div class="p-grid">
         
          
        <div class="p-col-12 text-align-center">
          <img *ngIf="act.user?.userPhoto"  class="act-header-photo img-thumbnail" [src]="convertImage(act)" alt="Aktivite sahibi resmi" >
          <img *ngIf="!act.user?.userPhoto"  class="act-header-photo img-thumbnail" src="assets/gokcenur.jpg" alt="Aktivite sahibi resmi" >
        </div>
        
        
        <div class="p-col-12">
          <div *ngIf="activeuser==act.ownerId" class="p-col-12 font-size-1-5em">
            <button (click)="activityManagement(act)" type="button" class="btn btn-secondary cursor-pointer p-col-12"> <i class="fa fa-cogs" aria-hidden="true"> </i> Yönet</button>
          </div>

            <p class="act-header-user-name">{{act.username}}</p>
           <p class="act-header-name">{{act.header}}</p>
           <div class="h-10"></div>
           <div class="act-content-text">
            {{act.context}}
           </div>

           <div class="h-10"></div>
           <br>
           <div class="act-content-tags">
             <span *ngFor="let tag of act.tagList"class="profile-tag">#{{tag}}</span>
           </div>
           <br>
           <div class="h-5"></div>
           <div >
            <img class="act-photo img-thumbnail" src="assets/kamp.jpg" >
          </div>
          <div class="h-5"></div>
          <div class="act-content-footer">
            <div class="p-grid">
                <div class="p-col cursor-pointer"><i class="pi pi-heart"></i> {{act.like}}</div>
                <div class="p-col "><i class="pi pi-users"></i> {{act.participationCount}}</div>
              <div class="p-col"><i class="pi pi-clock"></i> {{ act.date | date:'dd/MM/yyyy HH:mm':null:'tr'}}</div>
            </div>
            <hr>
            <div class="p-grid">
              
              <div *ngIf="act.currentUserStatus == 2" class="p-col-6 p-sm-6 p-md-4 p-lg-4 cursor-pointer cursor-pointer ">
                <div  (click)="viewComments(act)" class="act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
              </div>
              <div *ngIf="act.currentUserStatus != 2" class="p-col-6 p-sm-6 p-md-4 p-lg-4 cursor-pointer cursor-pointer ">
                <div  (click)="viewComments(act)" class="act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
              </div>

              <div  class="p-col-6 p-sm-6 p-md-4 p-lg-4 cursor-pointer cursor-pointer ">
                <div  (click)="viewDetail(act)" class="act-content-btn-comment"><i class="pi pi-angle-double-right"></i> Detaylar</div>
              </div>
              
              <div *ngIf="act.currentUserStatus == 0" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
                 <button type="button" (click)="joinActivity(act)" class=" btn btn-primary w-100"> <i class="pi pi-sign-in" aria-hidden="true"> </i> Katıl</button>
             </div>
             <div *ngIf="act.currentUserStatus == 1" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
              <button type="button" (click)="cancelActivityApprove(act)" class=" btn btn-warning w-100" > <i class="fa fa-spinner" aria-hidden="true" > </i> Beklemede </button>
             </div>
             <div *ngIf="act.currentUserStatus == 2" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
              <button type="button" (click)="cancelActivityApprove(act)" class=" btn btn-success w-100" > <i class="fa fa-check" aria-hidden="true"> </i> Kabul edildin</button>
             </div>
             <div *ngIf="act.currentUserStatus == 3" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
              <button type="button" (click)="joinActivity(act)" class=" btn btn-danger w-100" disabled> <i class="fa fa-times" aria-hidden="true"> </i> Reddedildi</button>
             </div>

              
            </div>

            
          </div>
           
        </div>
       
    </div>
    </p-card>
  </div>

</div>

<!--Repeat area-->



<p-toast position="top-center" key="tc"></p-toast>

<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
            
              <div class="p-col-6">
         
                  <button type="button" (click)="onConfirm()"   class="btn btn-success w-100"> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
                  </button>
              </div>
              <div class="p-col-6">
                <button type="button" (click)="onReject()"   class="btn btn-info w-100 "> <i class="fa fa-times" aria-hidden="true"> </i> İptal
                </button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>

<div [hidden]="!loading" class="full-area">
  <div class="centered">
      <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
  </div>
</div>