<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> 
</div>  


<div   class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  <div class="p-xl-6 p-lg-6 p-md-6 p-sm-6">
 
  
      <div class="p-grid">
        <div class="p-col-6">
          <button type="button" class="btn btn-info w-100 font-size-1-5em"><i class="fa fa-filter" aria-hidden="true"> </i> Filtrele</button>
        </div>
      
        <div class="p-col-6 ">
          <button type="button" (click)="newActivity()"  class="btn btn-success w-100 font-size-1-5em"> <i class="fa fa-plus-circle" aria-hidden="true"> </i> Etkinlik Oluştur</button>
        </div>	
      </div>

</div>
</div>



<div  *ngFor="let act of activities" class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-6 p-lg-6 p-md-6 p-sm-6">
    <p-card>
    
        <div class="p-grid">
        <div class="p-col-1">
          <img class="act-header-photo" src="assets/gokcenur.jpg" >
        </div>
        <div class="p-col-11 act-content">
            <p class="act-header-user-name">{{act.username}}</p>
           <p class="act-header-name">{{act.header}}</p>
           <div class="h-10"></div>
           <div class="act-content-text">
            {{act.context}}
           </div>

           <div class="h-10"></div>
           <div class="act-content-tags">
             {{act.tagList}}
           </div>
           <div class="h-5"></div>
           <div >
            <img class="act-photo" src="assets/kamp.jpg" >
          </div>
          <div class="h-5"></div>
          <div class="act-content-footer">
            <div class="p-grid">
                <div class="p-col"><i class="pi pi-heart"></i> {{act.like}}</div>
                <div class="p-col"><i class="pi pi-users"></i> {{act.participationCount}}</div>
              <div class="p-col"><i class="pi pi-clock"></i> 22/07/2020</div>
            </div>
            <hr>
            <div class="p-grid">
                
              <div class="p-col-4 act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
              <div (click)="viewDetail(act)" class="p-col-4 act-content-btn-comment cursor-pointer">Detaylar <i class="pi pi-angle-double-right" ></i></div>
          <div   (click)="joinActivity(act)" class="p-col-4 act-content-btn-signin"><i class="pi pi-sign-in"></i>&nbsp; Katıl</div>
            </div>

            
          </div>
           
        </div>
        <!--<div class="act-header">
           <span><img class="act-header-photo" src="assets/gokcenur.jpg" ></span>
        <span class="act-header-name">Gökçenur GÖKYÜREK</span>
           
        </div>
        <p>
            #7 Günlük Kamp
        </p>
       
        SONNN 1 KİŞİLİKKK YERİMİZ KALDI!!!! Ankara da kamp grubu oluşturup 6-7 günde hem tarihi yerleri gezip hemde sahil deniz kampları yapalım. Temmuzun 10-17 si Muğla Datça dayız farklı şehirlerden kampçılara da açık.Tatil yapıp hem de kamp yapmak istiyorsan ne duruyorsun daha....Ankara dışından gelen kampçıları da beklerim.
not : 1 kız arkadaşı kendi çadırımda misafir edebilirim onun dışında kendi ekipmanlarımızı getirmeliyiz.

        <div >
            <img class="act-photo" src="assets/kamp.jpg" >
        </div>
        <p-footer>
            Footer content here
        </p-footer> -->
    </div>
    </p-card>
</div>
</div>

<!--Repeat area-->


<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-6 p-lg-6 p-md-6 p-sm-6">
    <p-card>
    
        <div class="p-grid">
        <div class="p-col-1">
          <img class="act-header-photo" src="assets/gokcenur.jpg" >
        </div>
        <div class="p-col-11 act-content">
            <p class="act-header-user-name">Gökçenur GÖKYÜREK</p>
           <p class="act-header-name">bir haftalık kamp</p>
           <div class="h-10"></div>
           <div class="act-content-text">
            SONNN 1 KİŞİLİKKK YERİMİZ KALDI!!!! Ankara da kamp grubu oluşturup 6-7 günde hem tarihi yerleri gezip hemde sahil deniz kampları yapalım. Temmuzun 10-17 si Muğla Datça dayız farklı şehirlerden kampçılara da açık.Tatil yapıp hem de kamp yapmak istiyorsan ne duruyorsun daha....Ankara dışından gelen kampçıları da beklerim.
            not : 1 kız arkadaşı kendi çadırımda misafir edebilirim onun dışında kendi ekipmanlarımızı getirmeliyiz.
           </div>

           <div class="h-10"></div>
           <div class="act-content-tags">
             #gezi  #festival  #doğa  #tarih  #kamp  
           </div>
           <div class="h-5"></div>
           <div >
            <img class="act-photo" src="assets/kamp.jpg" >
          </div>
          <div class="h-5"></div>
          <div class="act-content-footer">
            <div class="p-grid">
                <div class="p-col"><i class="pi pi-heart"></i> 7</div>
                <div class="p-col"><i class="pi pi-users"></i> 12</div>
              <div class="p-col"><i class="pi pi-clock"></i> 22/07/2020</div>
            </div>
            <hr>
            <div class="p-grid">
                
                <div class="p-col-4 act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
                <div class="p-col-4 act-content-btn-comment"><a href="#/activity-view">Detaylar <i class="pi pi-angle-double-right"></i></a></div>
            <div class="p-col-4 act-content-btn-signin"><i class="pi pi-sign-in"></i>&nbsp; Katıl</div>
            </div>

            
          </div>
           
        </div>
        <!--<div class="act-header">
           <span><img class="act-header-photo" src="assets/gokcenur.jpg" ></span>
        <span class="act-header-name">Gökçenur GÖKYÜREK</span>
           
        </div>
        <p>
            #7 Günlük Kamp
        </p>
       
        SONNN 1 KİŞİLİKKK YERİMİZ KALDI!!!! Ankara da kamp grubu oluşturup 6-7 günde hem tarihi yerleri gezip hemde sahil deniz kampları yapalım. Temmuzun 10-17 si Muğla Datça dayız farklı şehirlerden kampçılara da açık.Tatil yapıp hem de kamp yapmak istiyorsan ne duruyorsun daha....Ankara dışından gelen kampçıları da beklerim.
not : 1 kız arkadaşı kendi çadırımda misafir edebilirim onun dışında kendi ekipmanlarımızı getirmeliyiz.

        <div >
            <img class="act-photo" src="assets/kamp.jpg" >
        </div>
        <p-footer>
            Footer content here
        </p-footer> -->
    </div>
    </p-card>
</div>
</div>
