.comment-box{
    display: block;
    width: 100%;
    padding:10px 0px;
    word-break: break-word;
    border-radius: 3px;
    margin-top:3px;
    border-bottom: 1px solid #ccc;
}
.comment-username{
    display: block;
    font-weight: bold;
    text-align:right;
    margin-right:5px
}
.comment-text{
    display: block;
    margin-left: 10px;
}
.comment-date{
    display: block;
    font-weight: 100;
}
.comments{
    margin-bottom: 0.1em;
    padding: 0.1em 0.3125em;
    border:1px solid #ccc;
    width: 100%;
    border-radius: 0.5em;
}
.odd-border {
    border-left: 0.5em solid var(--theme-color-primary);

}
.even-border {
    border-left: 0.5em solid var(--theme-blue);
}

.send-message-button{
    position: absolute;
     bottom: 0;
}
.message-list {
    height: 100%;
}
.bg-white{
    background:white !important;
}
.scrollPanelStyle{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}