<div class="login-panel">
  <p-toast position="top-center" key="tc"></p-toast>
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
      <div class="p-xl-4 p-lg-6 p-md-8 p-sm-10">
        <p-card  >
          <div class="p-col-12">

          </div>
          <div class="p-grid p-align-center">
              
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="input-name" type="text" size="30" class="p-col " pInputText [(ngModel)]="user.name"
                  placeholder="Ad soyad">
              </div>
            </div>
       
            <div class="p-col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                  <input id="input-email" type="text" size="30" class="p-col " pInputText [(ngModel)]="user.email"
                    placeholder="Email">
                </div>
              </div>

              <div class="p-col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                  <input id="input-username" type="text" size="30" class="p-col " pInputText [(ngModel)]="user.username"
                    placeholder="Kullanıcı adı">
                </div>
              </div>
              <div class="p-col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                  <input id="input-password" type="password" size="30" class="p-col" pInputText [(ngModel)]="user.password"
                    placeholder="Parola">
                </div>
              </div>
       
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                <textarea  id="input-bio" [rows]="6" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="user.biography"  placeholder="biraz kendinden bahseder misin?"></textarea>
              </div>
            </div>

            <div class="p-col-12"><p-checkbox [(ngModel)]="checked" label="Sözleşmeyi okudum ve kabul ediyorum." binary="true"></p-checkbox></div>
          
          </div>
          <div class="p-grid" >
           
            <div class="p-col-6">
              <button pButton type="button" label="Zaten üye misin ?" class="ui-button-raised  p-col-12 login-btn"
                (click)="routeLogin()"></button>
              </div>
              <div class="p-col-6">
              <button  [disabled]="!checked" (click)="createNewUser()" pButton type="button" label="Kayıt Ol »" class="ui-button-raised p-col-12"></button>
              </div>
          </div>
        </p-card>
        
      </div>
    </div>
  </div>