<div class="login-panel">
  <p-toast position="top-center" key="tc"></p-toast>
    <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
  
      <div class="p-xl-4 p-lg-6 p-md-8 p-sm-10">

        <div [hidden]="!mailOnayBilgisi">
          
          <div class="alert alert-success" role="alert">
            <h5><i class="fa fa-check" aria-hidden="true"> </i> Kaydınız alındı. Mail adresinizi onaylayın lütfen.</h5>
          </div>
        </div>
  

        <p-card  >
          <p-header>
           Kayıt Ol
        </p-header>
       
          <div class="p-grid p-align-center">
              
            
            
          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
              <input id="float-input" type="text" size="100" pInputText [(ngModel)]="user.name" class="w-100">
              <label for="float-input">Ad Soyad</label>
            </span>
          </div>

          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
              <input id="float-input" type="text" size="100" pInputText [(ngModel)]="user.email" class="w-100">
              <label for="float-input">Email adresi girin</label>
            </span>
          </div>
       
         

          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
              <input id="float-input" type="text" size="100" pInputText [(ngModel)]="user.username" class="w-100">
              <label for="float-input">Kullanıcı adı girin</label>
            </span>
          </div>


          
      

          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
              <input id="float-input" type="password" size="100" pInputText [(ngModel)]="user.password" class="w-100">
              <label for="float-input">Parola girin</label>
            </span>
          </div>

          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
               <p-inputMask  mask="(999) 999-9999" [(ngModel)]="user.phone"  class="w-100"></p-inputMask>
              <label for="float-input">Telefon<small> (5xx) 123-4567</small></label>
            </span>
          </div>


          <div class="p-col-12">
            <p>Doğum günü</p>
            <p-calendar [(ngModel)]="user.birthDate"  ateFormat="dd.mm.yy" showTime="true" class="w-100" hourFormat="24" showButtonBar="true" [locale]="tr"></p-calendar>
          </div>

          <div class="p-col-12">
            <p>Cinsiyet</p>
            <p-selectButton [options]="cinsiyetler" [(ngModel)]="user.gender"></p-selectButton>
          </div>
          <div class="p-col-12">
            <p class="input-label" style="font-size: 12px;">Kendin hakkında etiket ekle (Enter'a basarak ekleyin)</p>
            <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="user.tagList"></p-chips>
        </div>

          <div class="p-col-12">
            <span class="ui-float-label" style="margin-top:15px !important">
              <textarea  id="input-bio" [rows]="6" class="w-100" pInputTextarea autoResize="autoResize" [(ngModel)]="user.biography"  ></textarea>
              <label for="float-input">Seni tanıyabilmemiz için biraz kendinden bahseder misin?</label>
            </span>
          </div>
       
          
        <div class="p-col-12">
          <script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=initRecaptcha" async defer></script>
          <p-captcha siteKey="6LfbtNgZAAAAAHyU44M70pcVFzU360FOLWNfRzPr" (onResponse)="showResponse($event)"></p-captcha>
          <p></p>
        </div>

        <div class="p-col-12"><p-checkbox [(ngModel)]="checked" label="Sözleşmeyi okudum ve kabul ediyorum." binary="true"></p-checkbox></div>
      
      </div>
          <div class="p-grid" >
           
            <div class="p-col-6">
              <button pButton type="button" label="Zaten üye misin ?" class="ui-button-raised  p-col-12 login-btn"
                (click)="routeLogin()"></button>
              </div>
              <div class="p-col-6">
              <button  [disabled]="!checked && buttonEnabled" (click)="createNewUser()" pButton type="button" label="Kayıt Ol »" class="ui-button-raised p-col-12"></button>
              </div>
          </div>
        </p-card>
        
      </div>
    </div>
  </div>