:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-message div {
    color: #ffffff;
}

:host ::ng-deep .custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}

:host ::ng-deep .phone-input input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.verify-button, :host ::ng-deep .ui-calendar-button{
    border-top-right-radius: 0.5em ;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}