<!--
<p-tabMenu  [model]="items" [activeItem]="items[0]">
    <ng-template  pTemplate="item" let-item let-i="index" >
        <div style="position: relative; text-align: center ; min-width: 10em;"  >
            <div class="ui-menuitem-icon " [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em;" ></div>
            <div class="ui-menuitem-text">
                {{item.label}} 
            </div>
        </div>
    </ng-template>
</p-tabMenu> -->
<p-menubar [model]="items">
    <input type="text" pInputText placeholder="Ara">
    <button (click)="LogOut()" style="margin-left: 5px !important;" pButton label=" Çıkış yap" icon="pi pi-power-off"></button>
</p-menubar>
