
.site-title{
    color:white;
    background-color:black;
  }
  
  .site-title .core {text-align:center;}
  
  .mat-menu-content button {
    height:40px !important;
    margin:0px !important;
  }
  .ui-tabmenu{
    width: 100% !important;
  }
  .w-20{
    width: 20% !important;
  }
  .menu-logo{
    height: 100px;
   // width: 100px;
  }
  .nav-item{
    margin-right: 30px;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }