
<nav class="navbar navbar-expand-lg navbar-light bg-white" >
  <a class="navbar-brand" style="font-family: monospace;" href="/activities">ActivityFriend</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="badge badge-info">{{notificationCount}} Bildirim</span> <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isActiveUser" class="nav-item active">
        <a class="nav-link" href="/activities"> <i class="pi pi-fw pi-home"></i> Aktiviteler<span class="sr-only">(current)</span></a>
      </li>
      
      <li *ngIf="!isActiveUser" class="nav-item ">
        <a class="nav-link" href="/activities"> <i class="pi pi-fw pi-home"></i> Anasayfa </a>
      </li>

      <li  class="nav-item active">
        <a class="nav-link" href="/communication"> <i class="pi pi-fw pi-pencil"></i> İletişim </a>
      </li>

     <!--  <li  class="nav-item active">
        <a class="nav-link" href="/messages"> <i class="pi pi-comments"></i> Sohbetler </a>
      </li> -->

      <li  *ngIf="isActiveUser"  class="nav-item ">
        <a class="nav-link" href="/users"> <i class="pi pi-search"></i> Kullanıcılar </a>
      </li>
      
      <li  *ngIf="isActiveUser"  class="nav-item ">
        <a class="nav-link" href="/notification"> <i class="pi pi-bell"></i> Hareketler <span class="badge badge-info">{{notificationCount}}</span></a>
      </li>


      <li  *ngIf="!isActiveUser"  class="nav-item ">
        <a class="nav-link" href="/login"> <i class="pi pi-sign-in"></i> Giriş Yap </a>
      </li>

   

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Ara">
      <button *ngIf="isActiveUser" (click)="routeProfile()" style="margin-left: 5px !important;" class="btn btn-primary my-2 my-sm-0" type="button">
        <i class="pi pi-user"> </i>
        {{currentUserName}}
      </button>
      <button *ngIf="isLogin" (click)="LogOut()" style="margin-left: 5px !important;" class="btn btn-secondary my-2 my-sm-0" type="button">
        <i class="pi pi-power-off"> </i>
        Çıkış Yap
      </button>

    </form>
  </div>
</nav>