
<nav *ngIf="isActiveUser" class="navbar navbar-expand-lg navbar-light bg-white flex p-align-center justify-between full-navbar">
  <a class="navbar-brand col-md-3" style="margin-right: 0;" href="/activities">
    <img src="assets/activity-friend-text-logo.png" style="height: 45px; margin-right: 10px;">
  </a>
  <div class="collapse navbar-collapse flex p-justify-center col-md-6" >
    <ul class="navbar-nav flex" style="gap: 2em">
      <li class="nav-item">
        <a class="nav-link" href="/activities"><i class="pi pi-home"></i><span class="sr-only">(current)</span></a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" href="/communication"><i class="pi pi-comments"></i></a>
      </li>
      <!--  <li  class="nav-item active">
        <a class="nav-link" href="/messages"> <i class="pi pi-comments"></i> Sohbetler </a>
      </li> -->
      <li class="nav-item ">
        <a class="nav-link" href="/users"><i class="pi pi-users"></i></a>
      </li>    
      <li class="nav-item ">
        <a class="nav-link" href="/notification"> <i class="pi pi-bell"></i><span class="badge badge-info">{{notificationCount}}</span></a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse flex p-align-center col-md-3 p-justify-end">
    <!-- <input class="primary-input" placeholder="Ara..." aria-label="Ara" style="width: 250px;"> -->
    <ul class="navbar-nav flex" style="gap: 0.5em">
      <li (click)="routeProfile()" class="nav-item">
        <div class="nav-link cursor-pointer"><i class="pi pi-user"></i></div>
        <!-- <img class="navbar-photo" [src]="photoLinkCreate(User.fileLink)"> -->
      </li>
      <li *ngIf="isLogin" (click)="LogOut()" class="nav-item">
        <div class="nav-link cursor-pointer"><i class="pi pi-sign-out"> </i></div>
      </li>
    </ul>
  </div>
</nav>


<nav *ngIf="isActiveUser" class="navbar navbar-expand-lg navbar-light bg-white flex p-align-center justify-between collapse-navbar">
  <a class="navbar-brand col-md-3" style="margin-right: 0;" href="/activities">
    <img src="assets/activity-friend-text-logo.png" style="height: 45px; margin-right: 10px;">
  </a>
  <button class="fa fa-bars" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse flex p-justify-center col-md-12" id="navbarSupportedContent">
    <ul class="flex flex-col nav-item-list">
      <li class="nav-item active">
        <a class="nav-link" href="/activities">Ana Sayfa</a>
      </li>    
      <li  class="nav-item">
        <a class="nav-link" href="/communication">İletişim</a>
      </li>
      <!--  <li  class="nav-item active">
        <a class="nav-link" href="/messages"> <i class="pi pi-comments"></i> Sohbetler </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/users">Kullanıcılar</a>
      </li>    
      <li class="nav-item ">
        <a class="nav-link" href="/notification">Bildirimler<span class="badge badge-info">{{notificationCount}}</span></a>
      </li>
      <li class="nav-item">
        <div (click)="routeProfile()" class="nav-link" >Profil</div>
      </li>
      <li class="nav-item">
        <div (click)="LogOut()" class="nav-link" >Çıkış Yap</div>
      </li>
    </ul>
  </div>
</nav>