
.site-title{
  color:white;
  background-color:black;
}
  
.site-title .core {text-align:center;}

.mat-menu-content button {
  height:40px !important;
  margin:0px !important;
}
.ui-tabmenu{
  width: 100% !important;
}
.w-20{
  width: 20% !important;
}
.menu-logo{
  height: 100px;
  // width: 100px;
}
.nav-item{
  font-size: 1.1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f2f3f4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  padding: 0 !important;
  margin-top: 3px;
}

.bg-white{
  background-color: white !important;
}

.navbar{
  height: 70px;
}

.badge{
  position: absolute;
  top: -2px;
  border-radius: 1em;
  background-image: var(--theme-color);
}

.collapse-navbar{
  display: none;
  position: relative;
}

.fa-bars{
  position: absolute;
  right: 0.5em;
  top: 0.65em;
  font-size: 1.6em;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  color: #666;
}

.collapse-navbar .navbar-collapse{
  background-color: #fff;
  z-index: 9;
  width: 100% !important;
  margin: 0.45em 0 0 0 !important;
  padding: 0;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.nav-item-list{
  gap: 0.1em;
  width: 100%;
  padding: 0;
  margin: 0;
}

.collapse-navbar .nav-item{
  width: 100% !important;
  border-radius: 0 !important;
  background: none;
}

.collapse-navbar .nav-link{
  color: #444;
}

.collapse-navbar .nav-item:hover{
  background-color: #f2f3f4;
}

.navbar-photo{
  object-fit: cover;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 991px){
  .full-navbar{
    display: none;
  }
  .collapse-navbar{
    display: block;
    padding: 0.5em 0 !important;
  }
  .badge{
    display: none;
  }
}