
.site-title{
    color:white;
    background-color:black;
  }
  
  .site-title .core {text-align:center;}
  
  .mat-menu-content button {
    height:40px !important;
    margin:0px !important;
  }
  .ui-tabmenu{
    width: 100% !important;
  }
  .w-20{
    width: 20% !important;
  }