<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-users" aria-hidden="true"></i> {{activityStatic?.header}} </span>
</div>   

<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%" *ngIf="activityStatic">
  <div class="p-xl-6 p-lg-6 p-md-6 p-sm-6">
    <p-card>  
    
        <div class="p-grid">
        <div class="p-col-1">
          <img class="act-header-photo" src="assets/gokcenur.jpg" >
        </div>
        <div class="p-col-11 act-content">
            <p class="act-header-user-name"><a>@{{activityStatic.user.username}}</a></p>
           <p class="act-header-name">{{activityStatic.header}}</p>
           <div class="h-10"></div>
           <div class="act-content-text">
           {{activityStatic?.context}}
           </div>

           <div class="h-10"></div>
           <div class="act-content-tags">
           {{activityStatic.tags}}
           </div>
           <div class="h-5"></div>
           <div >
            <img class="act-photo" src="assets/kamp.jpg" >
          </div>
          <div class="h-5"></div>
          <div class="act-content-footer">
            <div class="p-grid">
                <div class="p-col"><i class="pi pi-heart"></i> 0</div>
                <div class="p-col"><i class="pi pi-users"></i> {{activityStatic.participationCount}}</div>
              <div class="p-col"><i class="pi pi-clock"></i>  {{activityStatic.date | date:'dd:mm:yyy HH:mm:ss':null:'tr'}}</div>
            </div>
            <hr>
            <div class="p-grid">
                <div (click)="viewComments(activityStatic)" class="p-col-6 act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
            <div class="p-col-6 act-content-btn-signin"><i class="pi pi-sign-in"></i>&nbsp; Katıl</div>
            </div>

            
          </div>
           
        </div>
        <!--<div class="act-header">
           <span><img class="act-header-photo" src="assets/gokcenur.jpg" ></span>
        <span class="act-header-name">Gökçenur GÖKYÜREK</span>
           
        </div>
        <p>
            #7 Günlük Kamp
        </p>
       
        SONNN 1 KİŞİLİKKK YERİMİZ KALDI!!!! Ankara da kamp grubu oluşturup 6-7 günde hem tarihi yerleri gezip hemde sahil deniz kampları yapalım. Temmuzun 10-17 si Muğla Datça dayız farklı şehirlerden kampçılara da açık.Tatil yapıp hem de kamp yapmak istiyorsan ne duruyorsun daha....Ankara dışından gelen kampçıları da beklerim.
not : 1 kız arkadaşı kendi çadırımda misafir edebilirim onun dışında kendi ekipmanlarımızı getirmeliyiz.

        <div >
            <img class="act-photo" src="assets/kamp.jpg" >
        </div>
        <p-footer>
            Footer content here
        </p-footer> -->
    </div>
    </p-card>
</div>
</div>
<p-toast position="top-center" key="tc"></p-toast>