<!-- <div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-users" aria-hidden="true"></i> {{activityStatic?.header}} </span>
</div>    -->
<div class="flex p-justify-center p-align-center page-container" *ngIf="activityStatic">
  <div class="p-col-12 p-xl-5 p-lg-7 p-md-10 p-sm-12 page-content">
    <div class="act-container">
      <div class="flex justify-between">
        <div class="flex">
          <img (click)="routeProfile(activityStatic.user._id)" *ngIf="activityStatic.user" class="act-header-photo img-thumbnail mr-10 cursor-pointer" [src]="photoLinkCreate(activityStatic.user.fileLink)" alt="Aktivite sahibi resmi" >
          <div class="flex flex-col justify-between" style="margin: 0.3em 0">
            <div class="flex cursor-pointer">
              <div (click)="routeProfile(activityStatic.user._id)" class="header-name" style="text-transform: capitalize;">{{activityStatic.user.name}}</div>
              <span (click)="routeProfile(activityStatic.user._id)" class="header-user-name">@{{activityStatic.user.username}}</span>
            </div>
            <div class="flex p-align-center" style="opacity: 0.7; font-size: 0.9em;">
              <i class="pi pi-clock" style="font-size: 0.9em;"></i>
              <span style="margin-left: 5px"> {{ activityStatic.createdDate | date:'dd/MM/yyyy HH:mm':null:'tr'}}</span>
            </div>
          </div>          
        </div>
        <div *ngIf="isOwner">
          <i class="fa fa-cogs cursor-pointer" style="font-size: 1.2em; opacity: 0.6;" (click)="activityManagement(activityStatic)" aria-hidden="true"> </i>
        </div>
      </div>
      <div class="flex flex-col mt-10">
        <img  class="act-photo" [src]="createActPhotoLink(activityStatic.fileLink)">
        <div class="flex mt-10" style="gap: 5em; opacity: 0.7; font-size: 0.9em;">
          <div [hidden]="activityStatic.currentUserLike" (click)="likeActivity(activityStatic)" class="cursor-pointer"><i class="fa fa-heart-o fa-x" aria-hidden="true" style="font-size: 1.5em;"></i> {{activityStatic.like}}</div>
          <div [hidden]="!activityStatic.currentUserLike" (click)="unlikeActivity(activityStatic)" class="cursor-pointer"><i class="fa fa-heart fa-x" aria-hidden="true" style="font-size: 1.5em;"></i> {{activityStatic.like}}</div>
          <div class="flex align-center justify-center"><i class="pi pi-users mr-2" style="font-size: 1.5em;"></i> {{activityStatic.participationCount}}/{{activityStatic.participationLimit ? activityStatic.participationLimit : '∞'  }} </div>
          <div class="flex align-center justify-center"><i class="pi pi-calendar-times mr-2" style="font-size: 1.5em;"></i>{{ activityStatic.date | date:'dd/MM/yyyy HH:mm':null:'tr'}}</div>
        </div> 
      </div>
      <div class="mt-10 flex flex-col">
        <p (click)="viewDetail(activityStatic)" class="header-name">{{activityStatic.header}}</p>
        <div class="act-content-text">{{activityStatic.context}}</div>
      </div>

      <div class="p-grid">          
        <div class="p-col-12">
          <ul class="tag-list mt-10" style="font-size: 0.9em;">
            <li *ngFor="let tag of activityStatic.tagList"class="activity-tag">#{{tag}}</li>
          </ul>
          <div class="act-content-footer">
            <div class="flex" style="gap:1em">
              <button (click)="viewComments(activityStatic)" class="btn secondary-button big-button flex align-center justify-center"><i class="pi pi-comments"></i> Duvar</button>
              <button [hidden] ="isOwner"  *ngIf="activityStatic.currentUserStatus == 0 && isShowByCreatedDate(activityStatic)" class="flex align-center" (click)="joinActivity(activityStatic)" class="btn primary-button">Katıl</button>
              <button *ngIf="activityStatic.currentUserStatus == 1 && isShowByCreatedDate(activityStatic)" (click)="cancelActivityApprove(activityStatic)" class="btn orange-button w-100" > <i class="fa fa-spinner" aria-hidden="true" > </i> Beklemede </button>
              <button *ngIf="activityStatic.currentUserStatus == 2 && isShowByCreatedDate(activityStatic) && !isOwner" (click)="cancelActivityApprove(activityStatic)" class="btn success-button w-100" > <i class="fa fa-check" aria-hidden="true"> </i> Kabul edildin</button>
              <button *ngIf="activityStatic.currentUserStatus == 3 && isShowByCreatedDate(activityStatic)" (click)="joinActivity(activityStatic)" class="danger-button w-100" disabled> <i class="fa fa-times" aria-hidden="true"> </i> Reddedildi</button>
            </div>
          </div>
        </div>    
      </div>
      <div>
        <div class="page-header mb-10">
          Katılımcılar
        </div>
         <!-- <div [hidden]="activityStatic.currentUserStatus == 2 || isOwner " class="alert alert-warning" role="alert">
          <p> <i class="fa fa-times" aria-hidden="true"> </i> Katılımcıları yalnızca onaylanan kullanıcılar görebilir.</p>
        </div> -->
         <!--  <div [hidden]= "!(activityStatic.currentUserStatus == 2 || isOwner )"> -->
        <div class="flex justify-between users">
          <div *ngFor="let actUser of approvedUsers" class="flex align-center user-card" (click)="routeProfile(actUser.user._id)" style="gap: 1em; flex: 0 1 calc(50% - 0.25em)">
            <img class="act-header-photo img-thumbnail" [src]="photoLinkCreate(actUser.user.fileLink)" alt="Image Source"> 
             <div class="approved-user">
              <span class="header-name">{{actUser.user.name}}</span><span class="header-user-name"> @{{actUser.user.username}}</span>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>  

<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">       
        <div class="p-col-6">
          <button type="button" (click)="onConfirm()" class="btn btn-success w-100"><i class="fa fa-check" aria-hidden="true"></i>Onayla</button>
        </div>
        <div class="p-col-6">
          <button type="button" (click)="onReject()" class="btn btn-info w-100 "><i class="fa fa-times" aria-hidden="true"></i>İptal</button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
