.header-name{
    font-size: 1.05em !important;
    font-weight: 500;
    text-transform: capitalize;
}

.header-user-name{
    font-weight: normal;
    opacity: 0.7;
    font-size: 1em;
    margin-left: 0.3125em;
}

.user-card{
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 0.5em;
    border-radius: 0.5em;
}

.user-card:hover{
    background-color: lightgray;
}

.users{
    flex-wrap: wrap;
    gap: 0.5em;
}

@media only screen and (max-width: 768px){
    .users{
        flex-direction: column;
        margin-bottom: 0.5em;
    }
}