<div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-users" aria-hidden="true"></i> {{activityStatic?.header}} </span>
</div>   

<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%" *ngIf="activityStatic">
  <div class="p-xl-6 p-lg-6 p-md-6 p-sm-6">
    <p-card>  
    
        <div class="p-grid">
        <div class="p-col-12 text-align-center">
         
          <img class="act-header-photo img-thumbnail"  [src]="photoLinkCreate(activityStatic.user.fileLink)" >
        </div>
        <div class="p-col-12 act-content">
            <p class="act-header-user-name"><a>@{{activityStatic.user.username}}</a></p>
           <p class="act-header-name">{{activityStatic.header}}</p>
           <div class="h-10"></div>
           <div class="act-content-text">
           {{activityStatic?.context}}
           </div>

           <div class="h-10"></div>
           <br>
           <div class="act-content-tags">
            <span *ngFor="let tag of activityStatic.tagList"class="profile-tag">#{{tag}}</span>
           </div>
           <br>
           <div class="h-5"></div>
           <div >
            <img *ngIf="!activityStatic.fileLink"  class="act-photo img-thumbnail" src="assets/empty_activity.jpg" > 
            <img *ngIf="activityStatic.fileLink"  class="act-photo  img-thumbnail" [src]=activityStatic.fileLink > 
          </div>
          <div class="h-5"></div>
          <div class="act-content-footer">
            <div class="p-grid">
                <div class="p-col"><i class="pi pi-heart"></i> 0</div>
                <div class="p-col"><i class="pi pi-users"></i> {{activityStatic.participationCount}}</div>
              <div class="p-col"><i class="pi pi-clock"></i>  {{activityStatic.date | date:'dd/MM/yyyy HH:mm':null:'tr'}}</div>
            </div>
            <hr>
            <div class="p-grid">
                <div (click)="viewComments(activityStatic)" class="p-col-6 act-content-btn-comment"><i class="pi pi-comments"></i> Duvar</div>
           
                <div *ngIf="activityStatic.currentUserStatus == 0" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
                  <button type="button" (click)="joinActivity(activityStatic)" class=" btn btn-primary w-100"> <i class="pi pi-sign-in" aria-hidden="true"> </i> Katıl</button>
              </div>
              <div *ngIf="activityStatic.currentUserStatus == 1" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
               <button type="button" (click)="cancelActivityApprove(activityStatic)" class=" btn btn-warning w-100" > <i class="fa fa-spinner" aria-hidden="true" > </i> Beklemede </button>
              </div>
              <div *ngIf="activityStatic.currentUserStatus == 2" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
               <button type="button" (click)="cancelActivityApprove(activityStatic)" class=" btn btn-success w-100" > <i class="fa fa-check" aria-hidden="true"> </i> Kabul edildin</button>
              </div>
              <div *ngIf="activityStatic.currentUserStatus == 3" class="p-col-12 p-sm-12 p-md-12 p-lg-4 cursor-pointer">
               <button type="button"  class=" btn btn-danger w-100" disabled> <i class="fa fa-times" aria-hidden="true"> </i> Reddedildi</button>
              </div>
           
               
            </div>

            
          </div>
           
        </div>

    </div>
    </p-card>
    <br>
    <p-card>
      <p-header>
        Katılımcılar
      </p-header>
      <div [hidden]="activityStatic.currentUserStatus == 2 || isOwner " class="alert alert-warning" role="alert">
        <p> <i class="fa fa-times" aria-hidden="true"> </i> Katılımcıları yalnızca onaylanan kullanıcılar görebilir.</p>
      </div>
      <div [hidden]= "!(activityStatic.currentUserStatus == 2 || isOwner )">
        <div *ngFor="let actUser of approvedUsers">
          <img (click)="routeProfile(actUser.user._id)" class="header-photo img-thumbnail" [src]="photoLinkCreate(actUser.user.fileLink)" alt="Image Source"  > 
           <span  (click)="routeProfile(actUser.user._id)" class="approved-user"> - {{actUser.user.name}} ( @{{actUser.user.username}} ) </span>
        </div>
         
      </div>
 

    </p-card>
</div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
            
              <div class="p-col-6">
         
                  <button type="button" (click)="onConfirm()"   class="btn btn-success w-100"> <i class="fa fa-check" aria-hidden="true"> </i> Onayla
                  </button>
              </div>
              <div class="p-col-6">
                <button type="button" (click)="onReject()"   class="btn btn-info w-100 "> <i class="fa fa-times" aria-hidden="true"> </i> İptal
                </button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>