.header-photo{
    object-fit: cover;
    width: 80px;
    height: 80px;
 }
 .profile-div{}

   .tag-list{
    list-style-type: none;
    display: contents;
    margin-top:5px;
}
.profile-tag{
    width: fit-content;
    margin-left: 5px;

}