.header-photo{
    object-fit: cover;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
 }
 .profile-div{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 0.7em !important;
 }

 .profile-left{
    width: 14%;
 }

 .profile-right{
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    height: 80px;
    width: 86%;
 }

 .profile-div:hover{
    background-color: lightgray;
 }

.tag-list{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.profile-tag{
    width: fit-content;
    margin-left: 5px;
    color: var(--theme-blue);
    background: none;
    border: none;
    margin: 0
}

.birthday-header{
    margin-top: 10px;
    font-weight: 500;
    width: 100%;
    color: var(--theme-blue);
    padding: 5px 5px;
    border-bottom: 0.5px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.birthday-users-pic-img{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.img-thumbnail-custom {
padding: .1rem;
background-color: #fff;
border: 2px solid #cd486b;
}

.header-name{
    font-weight: 500;
    margin-right: 0.5em;
    font-size: 1.1em;
    opacity: 0.8;
}

.header-user-name{
    opacity: 0.6;
}

.card-bio{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    font-size: 0.8em;
}

.users-card{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #fff;
    padding: 1em 1em;
    border-radius: 1em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 768px){
    .profile-right{
        width: 72%;
    }
}