<!-- <div class="route-nav">
  <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
  <span><i class="fa fa-search" aria-hidden="true"></i> Kullanıcı ara </span>
</div> -->

<!-- <div class="p-grid p-nogutter p-justify-center p-align-center mt-15" style="height:100%">
  <div class="p-xl-6 p-lg-6 p-md-8 p-sm-12">
    <div class="theme-card">
      <p class="birthday-header">
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>Mutlu Yıllar<i class="fa fa-birthday-cake" aria-hidden="true"></i>
      </p>      
      <div [hidden]="birthDayUsersHidden" class="p-grid p-col-12">
        <div class="profile-div  p-col-4 " (click)="routeProfile(user._id)" *ngFor="let user of birthDayUsers">   
          <div><img  class="birthday-users-pic-img img-thumbnail-custom " [src]="photoLinkCreate(user.fileLink)" alt="bekirbedir"  > </div>
          <div> @{{user.name}}</div>
        </div>
      </div>
      <div [hidden]="!birthDayUsersHidden" class="alert alert-warning w-100" style="border-radius: 0.7em;" role="alert">
        <div style="text-align:center">Bugün kimsenin doğum günü değilmiş <i class="fa fa-frown-o" aria-hidden="true"></i></div>
      </div>   
    </div>
  </div>
</div> -->

<div class="flex p-justify-center p-align-center page-container">
  <div class="p-col-12 p-xl-5 p-lg-7 p-md-10 p-sm-12 page-content">
    <div class="users-card">
      <input [(ngModel)]="search" (change)="searchFilter($event)" placeholder="Aramak için enter'a basın" class="primary-input w-100">
      <div class="w-100">
        <div (click)="routeProfile(user._id)" class="profile-div rounded mt-10 cursor-pointer" *ngFor="let user of users">
          <div class="profile-left">   
            <img class="header-photo img-thumbnail" [src]="photoLinkCreate(user.fileLink)" alt="activity friend"> 
          </div>
          <div class="profile-right"> 
            <div class="flex justify-between">
              <div class="header-name" style="text-transform: capitalize;">{{user.name}}</div>
              <span class="header-user-name">@{{user.username}}</span>
            </div>
            <div class="card-bio">{{user.biography}}</div>
            <div class="flex">
              <ul class="tag-list">
                <li *ngFor="let tag of user.tagList" class="profile-tag"><small> #{{tag}}</small></li>
              </ul>
            </div>    
          </div>              
        </div>          
      </div>
    </div>
  </div>
</div>