<div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-user" aria-hidden="true"></i> Profil </span>
</div>

<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-6 p-lg-6 p-md-8 p-sm-12">
        <p-card>
            <div class="p-grid">
                <div class="p-col-12 text-align-center">

                    <img (click)="pictureFullScreen=true" class="header-photo img-thumbnail" [src]="photoLinkCreate(User.fileLink)">


                    <p-fileUpload [hidden]="!isEditable" name="photo" multiple="false" [auto]="true"
                        invalidFileSizeMessageSummary="Dosya boyutu çok büyük"
                        invalidFileSizeMessageDetail="Maksimum dosya boyutu 3 MB" maxFileSize="3145728"
                        uploadLabel="Yükle" chooseLabel="Profil Resmi Yükle" cancelIcon="Vazgeç"
                        (onUpload)="onBasicUpload($event)"
                        invalidFileTypeMessageDetail="Geçersiz dosya tipi, lütfen resim yükleyin" accept="image/*"
                        [url]='uploadUrl'></p-fileUpload>


                    <p [hidden]="!(isEditable && !passwordChangeAction)" >
                        <label (click)="passwordChangeAction = true" class="upload-photo-btn"> <i class="fa fa-cloud-upload"
                                aria-hidden="true"></i> Şifre Değiştir</label>
                    </p>
                    <div [hidden]="!(isEditable && passwordChangeAction)">
                        <!--  -->

                        <div class="p-field w-100">
                            <label for="current-pass">Şuanki şifre</label>
                            <br>
                            <input id="current-pass" type="password" aria-describedby="username1-help" class="w-100"
                                pInputText [(ngModel)]="currentPassword" />

                        </div>

                        <div class="p-field w-100">
                            <label for="new-pass">Yeni şifre</label>
                            <br>
                            <input id="new-pass" type="password" aria-describedby="username1-help" class="w-100"
                                pInputText [(ngModel)]="password" />

                        </div>

                        <div class="p-field w-100">
                            <label for="new-pass">Yeni şifre tekrar</label>
                            <br>
                            <input id="new-pass" type="password" aria-describedby="username1-help" class="w-100"
                                pInputText [(ngModel)]="passwordRepeat" />

                        </div>

                        <p class="p-col-12">
                            <label class="p-col-6" (click)="passwordChange()" class="upload-photo-btn"> <i class="fa fa-unlock-alt"
                                    aria-hidden="true"></i> Şifreyi kaydet</label>
                             <label class="p-col-6" (click)="passwordChangeAction = false" class="cancel-btn"> <i class="fa fa-unlock-alt"
                                        aria-hidden="true"></i> Vazgeç</label>
                        </p>

                        <!--  -->
                    </div>

                    <span [hidden]="!isEditable">
                        <p [hidden]="editMode">
                            <label (click)="editMode=true" class="upload-photo-btn"> <i class="fa fa-edit"
                                    aria-hidden="true"></i> Profili Düzenle</label>
                        </p>
                    </span>
                    <p [hidden]="!editMode">
                        <label (click)="updateUser()" class="upload-photo-btn"> <i class="fa fa-save"
                                aria-hidden="true"></i> Kaydet</label>
                    </p>
                    <p [hidden]="!editMode">
                        <label (click)="editMode = false" class="cancel-btn"> <i class="fa fa-times"
                                aria-hidden="true"></i> Vazgeç</label>
                    </p>

                </div>

                <div class="p-col-12">
                    <br>
                    <p [hidden]="editMode" class="name"><b><i class="fa fa-user" aria-hidden="true"></i> {{User.name}}</b></p>
                    <p [hidden]="editMode" class="name"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ User.birthDate | date:'dd/MM/yyyy'}} - {{User.gender}} </p>
                    
                    <span [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                        <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.name" class="w-100">
                        <label for="float-input">Ad Soyad</label>
                    </span>


                    <br>
                    <p class="username"><a class=""><b>Kullanıcı Adı: </b>@{{User.username}}</a></p>
                    <br>
                    <p [hidden]="!isEditable" class="username"><a><b><i class="fa fa-phone" aria-hidden="true"></i> Telefon: </b>{{User.phone}}</a></p>
                    <p [hidden]="isEditable" class="username"><a><b><i class="fa fa-phone" aria-hidden="true"></i> Telefon: </b>*******</a></p>
                    <br>

                    <p [hidden]="!(isEditable && !editMode)" class="email"><b><i class="fa fa-envelope" aria-hidden="true"></i> Email :</b>{{User.email}}</p>
                    <p [hidden]="isEditable" class="email"><a><b><i class="fa fa-phone" aria-hidden="true"></i> Email : </b>*******</a></p>
                   
                    <p  class="email"> <small>Kullanıcı gizliliği ve güvenliği için, telefon ve email bilgilerini diğer kullanıcılar göremez</small></p>
                   

                    <span [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                        <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.email"
                            class="w-100">
                        <label for="float-input">Email</label>
                    </span>
                </div>

                <div class="p-col-12 mt-50">
                    <p class="bio-header">Biyografi </p>
                    <p [hidden]="editMode" class="bio-context">{{User.biography}}</p>

                    <span [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                        <textarea id="input-bio" [rows]="10" class="w-100" pInputTextarea
                            [(ngModel)]="User.biography"></textarea>
                        <label for="float-input">Seni tanıyabilmemiz için biraz kendinden bahseder misin?</label>
                    </span>

                </div>
                <div class="p-grid">
                  
                  
                        <ul  [hidden]="editMode" class="tag-list">
                            <li *ngFor="let tag of User.tagList" class="profile-tag p-col-3">#{{tag}}</li>
                          </ul>
                        <div [hidden]="!editMode" class="p-col-12">
                            <p class="input-label" style="font-size: 12px;">Etiket ekle (Enter ile ekleyin)</p>
                            <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="User.tagList" separator=","></p-chips>
                        </div>
              
                    
                </div>
            </div>
            <hr>
            <div class="h-10"></div>

            <div class="rate-buttons">
                <p class="bio-header">Toplam oy sayısı: {{totalRateCount}} </p>
                <div class="progress ">
                    <div id ="positive-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <i class="pi pi-thumbs-up"> %{{positiveRatePercent}} ({{positiveRateCount}})</i></div>
                    <div id ="negative-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <i class="pi pi-thumbs-down"> %{{negativeRatePercent}} ({{negativeRateCount}} oy) </i></div>
                </div>
            </div>
            <div class="h-10"></div>
            <!-------Bu alan ngFor ile yapilacak-------------->
            <div [hidden]="isEditable" class="p-grid">
                <p class="bio-header">Bu kişiye sen de oy ver! </p>

                <hr>
                <div class="p-col-6">
                    <button type="button" (click)="(rateUser(1))" class="btn btn-success w-100 " [disabled]="yourRate == 1"> 
                        Olumlu {{ yourRate == 1 ? 'oy verdiniz' : ''}} <i
                            class="fa fa-smile-o" aria-hidden="true"  ></i></button>
                </div>
                <div class="p-col-6">
                    <button type="button" (click)="(rateUser(2))" class="btn btn-danger w-100 " [disabled]="yourRate == 2">
                         Olumsuz {{ yourRate == 2 ? 'oy verdiniz' : ''}} <i
                            class="fa fa-frown-o" aria-hidden="true"  ></i> </button>
                </div>
                <small class="label">*Oy verebilmek için birlikte en az 1 etkinliğe katılmak gerekir</small>
            </div>

            <p [hidden]="!editMode">
                <label (click)="updateUser()" class="upload-photo-btn"> <i class="fa fa-cloud-upload"
                        aria-hidden="true"></i> Kaydet</label>
            </p>
            <p [hidden]="!editMode">
                <label (click)="editMode = false" class="cancel-btn"> <i class="fa fa-times" aria-hidden="true"></i>
                    Vazgeç</label>
            </p>

        </p-card>
    </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
<div [hidden]="!loading" class="full-area">
    <div class="centered">
        <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8"
            fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>

<p-dialog [(visible)]="pictureFullScreen" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <img (click)="pictureFullScreen=true" class="img-thumbnail" style="width: '80vw'; height: '80vw'" [src]="photoLinkCreate(User.fileLink)">
</p-dialog>
