<!-- <div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-user" aria-hidden="true"></i> Profil </span>
</div> -->

<div class="flex p-justify-center p-align-center page-container">
    <div class="p-col-12 p-xl-5 p-lg-7 p-md-10 p-sm-12 page-content">
        <div class="theme-card">
            <div style="position: relative;" class="w-100 flex justify-center">
                <img class="header-photo img-thumbnail" [src]="photoLinkCreate(User.fileLink)">
                <p-fileUpload [hidden]="!isEditable" name="photo" [multiple]="false" [auto]="true"
                    invalidFileSizeMessageSummary="Dosya boyutu çok büyük"
                    invalidFileSizeMessageDetail="Maksimum dosya boyutu 3 MB'ı geçemez"
                    maxFileSize="3145728" chooseLabel=""
                    (onUpload)="onBasicUpload($event)"
                    invalidFileTypeMessageDetail="Geçersiz dosya tipi, lütfen resim yükleyin" accept="image/*"
                    [url]='uploadUrl'>
                </p-fileUpload>                        
            </div>
            <div class="username">@{{User.username}} </div>

            <button [hidden]="!(isEditable && !passwordChangeAction)" (click)="passwordChangeAction=true" class="btn primary-button">Şifre Değiştir</button>
            <div [hidden]="!(isEditable && passwordChangeAction)" class="flex flex-col" >
                <div class="w-100">
                    <label for="current-pass">Şuanki şifre</label>
                    <input id="current-pass" type="password" aria-describedby="username1-help" class="w-100"pInputText [(ngModel)]="currentPassword" />
                </div>
                <div class="w-100">
                    <label for="new-pass">Yeni şifre</label>
                    <input id="new-pass" type="password" aria-describedby="username1-help" class="w-100" pInputText [(ngModel)]="password" />
                </div>
                <div class="w-100">
                    <label for="new-pass">Yeni şifre tekrar</label>
                    <input id="new-pass" type="password" aria-describedby="username1-help" class="w-100"pInputText [(ngModel)]="passwordRepeat" />
                </div>
                <div class="flex flex-row mt-15" style="gap: 0.5em">
                    <button class="btn success-button" (click)="passwordChange()">Şifreyi kaydet</button>
                    <button class="btn danger-button" (click)="passwordChangeAction = false">Vazgeç</button>
                </div>
            </div>

            <span [hidden]="!isEditable">
                <button [hidden]="editMode" (click)="editMode=true" class="btn primary-button">Profili Düzenle</button>
            </span>

            <div [hidden]="!editMode" class="flex flex-row" style="gap: 0.5em">
                <button class="btn success-button" (click)="updateUser()">Kaydet</button>
                <button class="btn danger-button" (click)="editMode = false">Vazgeç</button>
            </div>

            <div class="mt-10">
                <p [hidden]="editMode" class="name"><i class="fa fa-user" aria-hidden="true"></i> {{User.name}}</p>
                <p [hidden]="editMode" class="name"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ User.birthDate | date:'dd/MM/yyyy'}} </p>
                <!-- <p [hidden]="editMode" class="name"><i class="fa fa-venus-mars" aria-hidden="true"></i> {{User.gender}} </p>              -->
                <div [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                    <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.name" class="w-100">
                    <label for="float-input">Ad Soyad</label>
                </div>
                <div [hidden]="!editMode" >
                    <div>Doğum günü</div>
                    <p-calendar [(ngModel)]="User.birthDate" [showTime]="false" hourFormat="24" showButtonBar="false" class="w-100" [yearNavigator]="true" yearRange="1975:2002" dateFormat="dd.mm.yy" [locale]="tr" [showIcon]="true" inputId="icon"></p-calendar>              
                </div>

                <!-- <div [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                    <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.email" class="w-100">
                    <label for="float-input">Email</label>
                </div>
                <div [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                    <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.email" class="w-100">
                    <label for="float-input">Telefon</label>
                </div> -->
                <p [hidden]="!isEditable" class=""><a><b><i class="fa fa-phone" aria-hidden="true"></i> Telefon: </b>{{User.phone}}</a></p>
                <p [hidden]="isEditable" class=""><a><b><i class="fa fa-phone" aria-hidden="true"></i> Telefon: </b>*******</a></p>
                <p [hidden]="!isEditable" class="email"><b><i class="fa fa-envelope" aria-hidden="true"></i> Email: </b>{{User.email}}</p>
                <p [hidden]="isEditable" class="email"><a><b><i class="fa fa-envelope" aria-hidden="true"></i> Email: </b>*******</a></p>
                
                <div class="email"> <small>Kullanıcı gizliliği ve güvenliği için, telefon ve email bilgilerini diğer kullanıcılar göremez</small></div>
                <!--
                <span [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                    <input id="float-input" type="text" size="100" pInputText [(ngModel)]="User.email"
                        class="w-100">
                    <label for="float-input">Email</label>
                </span>
                -->
            </div>

            <div class="text-left">
                <p class="bio-header">Biyografi </p>
                <p [hidden]="editMode" class="bio-context">{{User.biography}}</p>
                <span [hidden]="!editMode" class="ui-float-label" style="margin-top:15px !important">
                    <textarea id="input-bio" [rows]="10" class="w-100" pInputTextarea
                        [(ngModel)]="User.biography"></textarea>
                    <label for="float-input">Seni tanıyabilmemiz için biraz kendinden bahseder misin?</label>
                </span>
            </div>
            <div>
                <p class="bio-header">Etiketler</p>
                <ul [hidden]="editMode" class="tag-list">
                    <li *ngFor="let tag of User.tagList" class="profile-tag p-col-3">#{{tag}}</li>
                </ul>
                <div [hidden]="!editMode">
                    <p class="input-label" style="font-size: 12px;">Etiket ekle (Enter ile ekleyin)</p>
                    <p-chips class="w-100" [allowDuplicate]="false" [(ngModel)]="User.tagList" separator=","></p-chips>
                </div>
            </div>

            <div class="rate-buttons">
                <p class="bio-header">Etkinliklere Katılım</p>
                  <p-chart type="doughnut" [data]="data"></p-chart>
                  <small class="label">*Etkinlik sonrası katılımcıların onaylanması gerekir</small>
                  <p-tabView >
                    <p-tabPanel  header="Açılan etkinlikler" leftIcon="pi pi-globe" styleClass="tabHeader-custom">
                        <div *ngIf="myActivities?.length == 0"><small><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Henüz hiç etkinlik açmadı</small></div>
                        <div class="activity-view" *ngFor="let act of myActivities;let i = index" >
                           <p class="activity-header" (click)="routeActivity(act._id)">• {{act.header}}</p>
                           <small class="activity-context">{{act.context}}</small>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Katıldığı etkinlikler" leftIcon="pi pi-users" headerStyleClass="tabHeader-custom">
                        <div *ngIf="joinedActivities?.length == 0"><small><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Henüz hiç bir etkinliğe katılmadı</small></div>
                        <div class="activity-view" *ngFor="let act of joinedActivities;let i = index" >
                           <p class="activity-header" (click)="routeActivity(act._id)">• {{act.header}}</p>
                           <small class="activity-context">{{act.context}}</small>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>

            <div class="rate-buttons mb-10">
                <p class="bio-header">Profil Oylaması ({{totalRateCount || "henüz oylanmadı"}}) </p>
                <div class="progress ">
                    <div id ="positive-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <i class="pi pi-thumbs-up"> %{{positiveRatePercent}} ({{positiveRateCount}} oy)</i></div>
                    <div id ="negative-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <i class="pi pi-thumbs-down"> %{{negativeRatePercent}} ({{negativeRateCount}} oy) </i></div>
                </div>
            </div>
            <!-------Bu alan ngFor ile yapilacak-------------->
            <div [hidden]="isEditable" class="flex flex-col mb-10">
                <div class="bio-header">Bu kullanıcıyı oyla!</div>
                <div class="flex mt-15" style="gap: 1em">
                    <button type="button" (click)="(rateUser(1))" class="btn success-button w-100 " [disabled]="yourRate == 1"> Olumlu {{ yourRate == 1 ? 'oy verdiniz' : ''}}<i class="fa fa-smile-o" aria-hidden="true"></i></button>
                    <button type="button" (click)="(rateUser(2))" class="btn danger-button w-100 " [disabled]="yourRate == 2">Olumsuz {{ yourRate == 2 ? 'oy verdiniz' : ''}}<i class="fa fa-frown-o" aria-hidden="true"></i> </button>
                </div>
                <small class="label">*Oy verebilmek için birlikte en az 3 etkinliğe katılmak gerekir</small>
            </div>
            <div [hidden]="!editMode" class="flex flex-row" style="gap: 0.5em">
                <button class="btn success-button" (click)="updateUser()">Kaydet</button>
                <button class="btn danger-button" (click)="editMode = false">Vazgeç</button>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>
<div [hidden]="!loading" class="full-area">
    <div class="centered">
        <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="8"
            fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>

<p-dialog [(visible)]="pictureFullScreen" [style]="{width: '80vw'}" [baseZIndex]="10000">
    <img (click)="pictureFullScreen=true" class="img-thumbnail" style="width: '80vw'; height: '80vw'" [src]="photoLinkCreate(User.fileLink)">
</p-dialog>
