
.bio-header{
    font-weight: 700;
    width: 100%;
    color: #117b8c;
    padding-bottom:5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
}
.bio-context{
    margin-bottom: 0;
}
.header-photo{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.rate-buttons>.progress{
    height: 35px;
}
.positive-button{
    border-radius: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
    border: 1px solid var(--theme-green);
    background-image: linear-gradient(90deg,#54c454,#109e10);
}
.negative-button{
    border-radius: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
    border: 1px solid var(--theme-red);
    background-image: linear-gradient(90deg,#ee8176,#ec4634);
}
.upload-photo-btn{
    background-color: #117b8c;
    color: white;
    width: 100%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
}
.cancel-btn{
    background-color: #DC143C;
    color: white;
    width: 100%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
}
.p-progressbar{
    background-color: yellowgreen !important;
}

.full-area{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
}

.tabpanelCustom {
  background-color: red !important;
  color:gray !important;
}

.activity-header{
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: underline;
}
.activity-context{
    font-size:0.75em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

:host ::ng-deep .tabHeader-custom {
    background-color: red;
}

:host::ng-deep .ui-fileupload{
    position: absolute;
    top: 0;
    right: 120;
    border-radius: 50%;
}

:host::ng-deep .ui-fileupload-choose{
    border-radius: 50% !important;
}

.username{
    text-align: center;
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.name{
    text-transform: capitalize;
}

:host::ng-deep .tabHeader-custom{
    background-image: var(--theme-grad-gray) !important;
    border-color: var(--theme-color-gray);
}

:host::ng-deep .ui-state-active{
    background-image: var(--theme-color) !important;
    border-color: var(--theme-color-primary);
}


:host::ng-deep .ui-tabview-panels{
    max-height: 150px;
    overflow-x: auto;
    width: 100%;
}

.profile-tag{
    font-size: 0.8em;
    padding: 0.3rem 0.5rem;
}

:host ::ng-deep .phone-input input{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.verify-button, :host ::ng-deep .ui-calendar-button{
    border-top-right-radius: 0.5em ;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.fa-pencil, .fa-times{
    margin-left: 5px;
    cursor: pointer;
}

.fa-times{
    height: inherit;
    display: flex;
    align-items: center;
}

.fa-pencil:hover, .fa-times:hover{
    transform: scale(1.1);
}