
.bio-header{
    margin-top: 10px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    color: #117b8c;
    padding-bottom:5px ;
    border-bottom: 1px solid #ccc;
}
.bio-context{
    margin-top: 5px;
    text-align: center;
}
.header-photo{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.rate-buttons>.progress{
    height: 35px;
}
.positive-button{
   
    border-radius: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
    background: rgb(85,190,31);
background: linear-gradient(90deg, rgba(85,190,31,1) 0%, rgba(89,207,23,1) 72%);
}
.negative-button{
  
    border-radius: 5px;
    font-size: 1em;
    color: white;
    text-align: center;
    background: rgb(246,10,10);
background: linear-gradient(90deg, rgba(246,10,10,1) 0%, rgba(228,50,50,1) 47%);
}
.upload-photo-btn{
    background-color: #117b8c;
    color: white;
    width: 100%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
}
.cancel-btn{
    background-color: #DC143C;
    color: white;
    width: 100%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
}
.p-progressbar{
    background-color: yellowgreen !important;
}

.full-area{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
  }
  .ui-fileupload-content{
      display: none !important;
  }
  .tag-list{
    list-style-type: none;
    display: contents;
}
.profile-tag{
    width: fit-content;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
   padding: 7px;
   border-radius: 3px;
   color: white;
   background: rgb(71,161,25);
   background: linear-gradient(90deg, rgba(71,161,25,1) 0%, rgba(89,207,23,1) 100%);
}

.tabpanelCustom {
  background-color: red !important;
  color:gray !important;
}

.activity-header{
    font-size: 0.8em;
    color:blue;
    text-decoration: underline;
}
.activity-context{
    font-size:0.75em
}

:host ::ng-deep .tabHeader-custom {
    background-color: red;
}

