<div class="route-nav">
    <span><a href="/activities"> <i class="fa fa-home" aria-hidden="true"></i> Anasayfa </a></span> >
    <span><i class="fa fa-user" aria-hidden="true"></i> Profil </span>
  </div>   
  <label for="propic">Profil resmini değiştir</label>
  
  <input id="propic" (change)="picked($event,1)" type="file" style="visibility: hidden;">
<div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-5 p-lg-5 p-md-5 p-sm-5">
    <p-card>
        <div class="p-grid">
            <div class="p-col-3">
                <img   class="header-photo" [src]="imagePath" alt="Image Source" >
            </div>

            <div class="p-col-8">
                <p class="name">Bekir Bedir / 26</p>
                <p class="username"><a href="#">@bekirbedir</a></p>
                <p class="age">23.02.1994</p>
                <p class="email">bekirbedir23@gmail.com</p>
            </div>
                  
           <div class="p-col-12">
               <p class="bio-header">Biyografi </p>
               <p class="bio-context">Senaryo yazarı, kısa film yönetmeni, tiyatro müdavimi ve eleştirmeni, kısaca sanat adamı olmaya çalışan, doğaya hayran, şanslı bir zat.</p>
           </div> 
        </div>
        <hr>
        <div class="h-10"></div>
        <div class="p-grid rate-buttons">
        <div class="p-col-9 positive-button"><i class="pi pi-thumbs-up"></i> (80)</div>  
        <div class="p-col-3 negative-button"><i class="pi pi-thumbs-down"></i> (20</div>    
        </div>
        <!-------Bu alan ngFor ile yapilacak-------------->
        <div class="profile-tags"> 
            <span class="profile-tag">#Doğa</span>
            <span class="profile-tag">#Kamp</span>
            <span class="profile-tag">#Tiyatro</span>
            <span class="profile-tag">#Film</span>
        </div>

    </p-card>
</div>
</div>
